.cases {
  padding: 81px 0 22px;
  padding-top: 40px;

  @include media-breakpoint-down(mobile) {
    padding-top: 17px;
  }
  &__title-box-many{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(mobile){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__download{
    color: $red;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    text-decoration: none;
    @include media-breakpoint-down(mobile){
      margin-top: 10px;
    }
  }
  &__inner {
    margin: 0 -10px;
    margin-top: 37px;

  }

  &__filter {
    margin: 30px 10px 10px 10px;
    overflow: hidden;
    @include media-breakpoint-down(mobile){
      margin: 15px -10px 5px -10px;
    }
  }
}
.cases-content{
  & .cases__inner {
    margin-top: 30px;

  }
}
.portfolio {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc(50% - 20px);
    margin: 10px;

    @include media-breakpoint-down(tablet) {
      width: calc(100% - 20px);
    }
  }
}

.cases-title {
  font-size: 64px;
  font-weight: 400;
  margin-left: -2px;
  @include media-breakpoint-down(mobile) {
    font-size: 44px;
  }
}

.case-card {
  color: $white;
  position: relative;
  background-size: 0px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 55%;
  max-height: 360px;

  @include media-breakpoint-down(mobile) {
    padding-top: 96%;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;

    @include media-breakpoint-down(tabletlg) {
      padding: 30px;
    }

    @include media-breakpoint-down(mobile) {
      padding: 0;
      pointer-events: none;
    }
  }

  &__content-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(mobile) {
      position: static;
      display: flex;
      align-items: flex-end;
      padding: 10%;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: normal;
  }

  &__content {
    position: absolute;
    left: 0;
    top: calc(100% - 71px);

    @include media-breakpoint-down(mobile) {
      position: static;
      width: 100%;
    }

    &-row {

      &:last-child {
        margin-top: 19px;
      }

      &:nth-child(2) {
        margin-top: 21px;

        @include media-breakpoint-down(mobile) {
          margin-top: 10px;
        }
      }

      &--hidden {
        // height: 0;
        transition: height 0.3s ease-in-out;

        @include media-breakpoint-down(mobile) {
          display: none;
        }
      }
    }
  }

  &__icon {
    fill: $white;
    stroke: $white;
    display: inline-block;
    position: relative;
    top: 2px;

    @include media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__link {
    @include media-breakpoint-down(mobile) {
      font-size: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));

   //  .browser-ie & {
   //    &::before {
   //      position: absolute;
   //      content: '';
   //      left: 0;
   //      right: 0;
   //      top: 0;
   //      width: 100%;
   //      height: 100%;
   //      background-color: rgba(0, 0, 0, 0.5);
   //      z-index: 9;
   //      transition: background-color 0.3s ease;
   //    }

   //  }
    
  }

  .link--arrow {
      position: relative;
   }
   .arrow-right {
      position: absolute;
      top: 27%;
   }

//   &.touch-down {
//     filter: none;

//     .case-card__content {
//       transform: translateY(0);
//     }

//     .case-card__img {
//       filter: none;

//       .browser-ie & {
//         &::before {
//           background-color: rgba(0, 0, 0, 0);
//         }
//       }
//     }

//     .browser-ie & {
//       .case-card__overlay {
//         &::before {
//           background-color: rgba(0, 0, 0, 0);
//         }
//       }
//     }
//   }

}

.browser-ie .case-card .title__arrow {
  top: -60px;
}

.case-card .technologies__item, .case-card .link--arrow a {
  color: $white;
}

.arrow-right {
  display: block;
  font-size: 20px;
  position: relative;
  .case-card & {
     width: 15.5px;
   }
  &__main {
    fill: $black;

    .case-card & {
      fill: $white;
    }

    .project-details & {
      .browser-ie & {
         height: 100%;
      }
    }

    .is-dark & {
      fill: $white;
    }

    .browser-ie .cases-content & {
      fill: $white;
    }
  }

  &__fill-wrap {
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    transition-delay: 0s;

    .browser-ie & {
      display: none;
    }
  }

  &__fill {
    fill: $red;

    .index-content & {
      width: 35px;

      @include media-breakpoint-down(mobile) {
        width: 23.1px;
      }
    }

    .case-card & {
      width: 15.5px;
    }

    .career-content & {
      width: 24px;

      @include media-breakpoint-down(mobile) {
        width: 19.1px;
      }
    }
  }

  svg {
    width: 100px;
    height: 100%;
  }
}

.title__arrow {
  margin-left: 20px;
  width: 35px;
  height: 20px;
  display: inline-block;
  overflow: visible;
  transition: transform 0.6s ease;
  .career-content & {
    position: relative;
    top: -2px;
  }
  &--cases{
    .index-content & {
      @include media-breakpoint-down(mobile) {
        position: relative;
        top: 3px;
      }
  }

  }
  &--down{
    width: 24px!important;
    height: auto!important;
    transform: rotate(90deg);
    @include media-breakpoint-down(mobile){
      margin-left: 7px!important;
    }
    &-fill{
      width: 24px!important;
    }
  }
  .browser-ie & {
    position: relative;
    top: -65px;
  }

  .browser-ie .cases-content & {
    top: -71px;
  }

  .browser-ie .career-content & {
    top: -70px;
  }

  @include media-breakpoint-down(mobile) {
    width: 23px;
    height: 17px;
    margin-left: 11px;
  }

  svg {
    transition: fill 0.6s ease;
    transform-origin: left;
    overflow: visible;
  }

  .cases-separate & {
    width: 16px;
    height: 9px;
    fill: $white;
  }

  .job & {
    width: 24px;
    height: 11px;

    @include media-breakpoint-down(mobile) {
      width: 19px;
    }
  }
}

.link--arrow {
  display: inline-block;

  a {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient($black, $black);
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
    transition-delay: 0.2s;
    animation: text-color 0.3s linear infinite;
    @media screen and (max-width: 425px) {
      display: block;
    }
    .is-dark & {
      background-image: linear-gradient($white, $white);
    }

    .case-card &, .project-details & {
      background-image: linear-gradient($white, $white);
      font-weight: bold;
    }
  }

  .arrow-right__part {
    transition: transform 0.6s ease;
  }

  &:not(.--no-hover) {
   @include hover() {
      .arrow-right__main {
        fill: $red;
        transition-delay: 0.5s;
      }
  
      a {
        background-size: 0% 100%;
        transition-delay: 0s;
      }

      .title__arrow {
        transform: translateX(3px);
        svg {
  
          // fill: $red;
          .arrow-right__axis {
            transform: scale(1.2, 1);
            .title__arrow--down &{
              transform: scale(1);
            }
          }
  
          .arrow-right__head {
            transform: translateX(4px);
          }
        }
  
        .arrow-right__fill-wrap {
          width: calc(100% + 4.2px);
          transition-delay: 0.2s;
        }
      }
     .title__arrow--down{
       transform: translatey(3px) rotate(90deg);
     }
    }
  }

  

  .browser-ie & {
    a {
      background: none;
      background-image: none;
      background-size: 0;
      background-clip: unset;
      background-color: transparent;
      animation: none;
      color: $black;
      
      .is-dark & {
        color: $white;
      }
    }
    &:not(.--no-hover) {
      @include hover {
        a {
          color: $red;
        }
  
        svg {
          fill: $red;
        }
      }
    }
  }
}

.browser-ie .case-card .link--arrow {
   a {
      color: $white;
   }
}

.browser-ie .cases-content .link--arrow a {
  color: $white;
  transition: color 0.3s ease;
  &:not(.--no-hover)  {
    @include hover() {
      color: $red;
    }
  }
  
}


@keyframes text-color {
  0% {
    background-color: $red
  }

  100% {
    background-color: $red;
  }
}

.cases-separate {
  padding-top: 150px;
  min-height: calc(100vh - 280px);
  @include media-breakpoint-down(mobile) {
    padding-top: 130px;
    padding-bottom: 0;
    min-height: calc(100vh - 255px);
  }
}





.filter {

  &__line {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin: 20px 0 20px 0;
    padding-bottom: 10px;
    @include media-breakpoint-down(mobile){
      margin: 15px 0px 0px 0px;
      padding: 0 0px 15px 0;
      font-size: 0;
    }
  }
}

.filter-item {
  position: relative;
  margin-right: 30px;
  @include media-breakpoint-down(mobile){
    display: inline-block;
    &:first-child{
      margin-left: 20px;
    }
  }
  &:last-child {
    margin-right: 12px;
  }
  
  &__input {
    display: none;
    position: absolute;
    opacity: 0;
    top: 10px;
    z-index: -1;
    right: -99999; 
  }
  & input:checked + .filter-item__text {
    color: $red;
    border-bottom-color: rgba(0, 0, 0, 0);
    transition: all .2s ease;
    & svg{
      opacity: 1;
    }
    &:after{
      opacity: 1;
    }
  }
  &__text {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed;
    line-height: 20px;
    font-size: 12px;
    font-family: 'Roboto Mono';
    font-weight: normal;
    color: #4a4a4a;
    cursor: pointer;
    transition: all .2s ease;
    &:after{
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      opacity: 0;
      background-color: $red;
      transition: opacity .3s ease;
    }
    & svg{
      position: absolute;
      right: -12px;
      top: 8px;
      fill: $red;
      opacity: 0;
      font-size: 6px;
      transition: all .15s ease;
    }
    .is-dark & {
      color: #ffffff;
      font-weight: 300;
    }
    
    @include hover() {
      color: $red;
      border-bottom-color: rgba(0, 0, 0, 0);
      transition: all .2s ease;
      &:after{
        opacity: 1;
        transition: opacity .2s ease;
      }
    }
  }
}



.cases__not-project{
  display: flex;
  width: 100%;
  margin: 0 10px;
  height: 35vh;
  text-align: center;
  margin-bottom: -40px;
  @include media-breakpoint-down(mobile){
    height: 50vh;
  }
  &-text{
    margin: auto;
    display: inline-block;
    font-size: 30px;
    color: $red;
  }
}

.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 10000000;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.3s;
   &.is-active {
      visibility: visible;
      opacity: 1;
   }
   &.is-active {
      display: block;
   }
   &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
   }

   &__inner {
      position: fixed;
      padding: 20px;
      overflow: auto;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      text-align: center;
      @include media-breakpoint-down(mobile) {
         padding: 0;
      }
      &::before {
         content: "";
         display: inline-block;
         height: 100%;
         vertical-align: middle;
         @include media-breakpoint-down(mobile) {
            content: none;
         }
      }
      .ps__rail-y {
         width: 5px!important;
         border-radius: 6px;
      }
      .ps__thumb-y {
         right: 0 !important;
         width: 5px!important;
         border-radius: 6px;
      }
   }
   &__window {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 10px auto;
      text-align: left;
      // display: flex;
      // justify-content: center;
      @include media-breakpoint-down(mobile) {
         height: -webkit-fill-available;
         margin: 0;
         
      }
   }
   
}

