section.page-section.cases.cases-separate
  .container
    .cases__title-box
      h1.title.cases-title Проекты
    .cases__inner
      .cases__filter
        form.filter.js-filter(action="/assets/data/works.json" method="GET")
          .filter__line
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="type_1" )
              span.filter-item__text Frontend
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="type_2" )
              span.filter-item__text Backend
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="type_3" )
              span.filter-item__text Support
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="type_4" )
              span.filter-item__text Design
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="type_5" )
              span.filter-item__text UX / UI
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="type_6" )
              span.filter-item__text QA
                +svg('cross')
          .filter__line
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="work_1" )
              span.filter-item__text Финансы
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="work_2" )
              span.filter-item__text B2B
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="work_3" )
              span.filter-item__text Телеком
                +svg('cross')
            label.filter-item 
              input.filter-item__input.js-filter-item__input(type='checkbox' name="work_4" )
              span.filter-item__text Мобильные приложения
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='checkbox' name="work_5" )
              span.filter-item__text Недвижимость
                +svg('cross')
      .portfolio.js-portfolio
        .portfolio__item
          .case-card.picture(data-src="assets/images/content/cases/nezlob.png").js-lazy.js-case-card
            .case-card__inner
              .case-card__content-wrap
                .case-card__content
                  .case-card__content-row
                    h3.title.case-card__title 
                      a(href="nezlobin").js-open-project Александр Незлобин
                  .case-card__content-row
                    ul.technologies
                      li.technologies__item UX / UI			
                      li.technologies__item Design
                      li.technologies__item Frontend
                      li.technologies__item Backend
                      li.technologies__item QA
                  .case-card__content-row.case-card__content-row--hidden
                    .link--arrow.--no-hover
                        a(href="nezlobin").js-open-project Подробнее о проекте
                          span.arrow-right.title__arrow
                            div.arrow-right__main
                               <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
            a(href="nezlobin" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
          .case-card.picture(data-src="assets/images/content/cases/s-o.png").js-lazy.js-case-card
            .case-card__inner
              .case-card__content-wrap
                .case-card__content
                    .case-card__content-row
                      h3.title.case-card__title 
                        a(href="s-o").js-open-project Сантехника-Онлайн.Ру
                    .case-card__content-row
                      ul.technologies
                        li.technologies__item Frontend
                        li.technologies__item Backend
                        li.technologies__item QA
                        li.technologies__item Support
                    .case-card__content-row.case-card__content-row--hidden
                      .link--arrow.--no-hover
                        a(href="s-o").js-open-project Подробнее о проекте
                          span.arrow-right.title__arrow
                            div.arrow-right__main
                               <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
            a(href="s-o" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/earth.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="earth2050").js-open-project Kaspersky Earth 2050
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item Design
                          li.technologies__item Backend
                          li.technologies__item QA
                          li.technologies__item Support
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="earth2050").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                 <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                  div.arrow-right__fill-wrap
                                    div.arrow-right__fill
                                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="earth2050" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/ales.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="ales").js-open-project Ales Capital
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item UX / UI				
                          li.technologies__item Design
                          li.technologies__item Frontend
                          li.technologies__item Backend
                          li.technologies__item QA
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="ales").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                 <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                  div.arrow-right__fill-wrap
                                    div.arrow-right__fill
                                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="ales" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/kaspersky.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="privacy").js-open-project Kaspersky Privacy
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item Frontend						
                          li.technologies__item Backend
                          li.technologies__item QA
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="privacy").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="privacy" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/oldbid.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="oldbid").js-open-project OLDBID
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item Support
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="oldbid").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="oldbid" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/it-sec.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="kaspersky-calculator").js-open-project Kaspersky IT Security Calculator
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item Support
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="kaspersky-calculator").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="kaspersky-calculator" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/spirit.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="spiritfit").js-open-project Spirit. Fitness
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item Frontend						
                          li.technologies__item Backend
                          li.technologies__item QA
                          li.technologies__item Support
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="spiritfit").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="spiritfit" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/hansa.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="hansa").js-open-project Hansa
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item Frontend						
                          li.technologies__item Backend
                          li.technologies__item QA
                          li.technologies__item Support
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="hansa").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="hansa" target="_blank").case-card__overlay.js-open-project
              
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/swamiart.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="swamiart").js-open-project SwamiArt
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item UX / UI											
                          li.technologies__item Design
                          li.technologies__item Frontend
                          li.technologies__item Backend
                          li.technologies__item QA
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="swamiart").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="swamiart" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/belfan.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="belfan").js-open-project Белфан
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item Frontend						
                          li.technologies__item Backend
                          li.technologies__item QA
                          li.technologies__item Support
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="belfan").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="belfan" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/diam.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="diamtools").js-open-project ДИАМТУЛС
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item Support
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="diamtools").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="diamtools" target="_blank").case-card__overlay.js-open-project

        .portfolio__item
            .case-card.picture(data-src="assets/images/content/cases/avia.png").js-lazy.js-case-card
              .case-card__inner
                .case-card__content-wrap
                  .case-card__content
                      .case-card__content-row
                        h3.title.case-card__title 
                          a(href="avia").js-open-project АВИА
                      .case-card__content-row
                        ul.technologies
                          li.technologies__item UX / UI									
                          li.technologies__item Design									
                          li.technologies__item Frontend
                          li.technologies__item Backend
                          li.technologies__item QA
                      .case-card__content-row.case-card__content-row--hidden
                        .link--arrow.--no-hover
                          a(href="avia").js-open-project Подробнее о проекте
                            span.arrow-right.title__arrow
                              div.arrow-right__main
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                div.arrow-right__fill-wrap
                                  div.arrow-right__fill
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
              a(href="avia" target="_blank").case-card__overlay.js-open-project
        .portfolio__item
              .case-card.picture(data-src="assets/images/content/cases/cleanelly.png").js-lazy.js-case-card
                .case-card__inner
                  .case-card__content-wrap
                    .case-card__content
                        .case-card__content-row
                          h3.title.case-card__title 
                            a(href="cleanelly").js-open-project Cleanelly
                        .case-card__content-row
                          ul.technologies
                            li.technologies__item Support
                        .case-card__content-row.case-card__content-row--hidden
                          .link--arrow.--no-hover
                            a(href="cleanelly").js-open-project Подробнее о проекте
                              span.arrow-right.title__arrow
                                div.arrow-right__main
                                  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                                  div.arrow-right__fill-wrap
                                    div.arrow-right__fill
                                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Untitled-1</title><g id="Trash" class="arrow-right__head arrow-right__part"><g id="Logo-Copy-12"><g id="ic_arrow_right-copy" data-name="ic arrow right-copy"><g id="Shape"><path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/></g></g></g></g><g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part"><g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy"><g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/></g></g></g></g></svg>
                a(href="cleanelly" target="_blank").case-card__overlay.js-open-project
