.article {

  &__back-wrap {
    display: none;
    margin-bottom: 36px;
    align-items: center;
    @include media-breakpoint-down(mobile) {
      display: flex;
    }
    &:hover {
      .arrow-right {
        fill: #eb5757;
      }
      .article-link-back {
        color: #eb5757;
      }
    }
    .arrow-right {
      width: 19px;
      height: 11px;
      fill: #909090;
      transform: rotate(180deg);
      margin-right: 10px;
      transition: 0.3s ease-in-out;
    }
    .article-link-back {
      font-family: Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #909090;
      transition: 0.3s ease-in-out;
    }
  }
  &.articles-separate {
    padding-bottom: 0;
  }
  &__block-slide-arrows {
    padding: 50px 30px;
    border-top: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      &:hover {
        .article__block-slide-arrows-group-text {
          color: $red;
        }
        .icon {
          fill: $red;
        }
      }
    }
    @include media-breakpoint-down(mobile) {
      padding: 30px 0px;
    }
  }
  &__block-slide-arrows-group{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    @include media-breakpoint-down(mobile) {
      flex-direction: column;
      align-items:flex-start;
    }
    .articles__arrow {
      flex-shrink: 0;
      margin-right: 20px;
      margin-left: 0;
      .icon {
        display: block;
        width: 18px;
        height: 10px;
        transition: 0.3s ease-in-out;
      }
    }
  }
  &__block-slide-arrows-group-text {
    max-width: 343px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    transition: 0.3s ease-in-out;
    @include media-breakpoint-down(mobile) {
      margin-top: 10px;
      font-size: 16px;
      line-height: 23px;
      max-width: 150px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
    }
  }
  &__block-slide-text {
    padding-left: 37px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #909090;
    @include media-breakpoint-down(mobile) {
      display: none;
    }
  }
  &__block-slide-arrows-item {
    @include media-breakpoint-down(mobile) {
      min-height: 83px;
    }
  }
  &__block-slide-arrows-item.slide-arrows-item-prev {
   margin-right: 30px;
  }
  &__block-slide-arrows-item.slide-arrows-item-prev {
    .articles__arrow .icon {
      transform: rotate(180deg);
    }
    .article__block-slide-arrows-group {
      @include media-breakpoint-down(mobile) {
        text-align: center;
      }
    }
  }
  &__block-slide-arrows-item.slide-arrows-item-next {
    margin-left: auto;
    .article__block-slide-text {
      padding: 0;
      text-align: right;
      display: block;
      padding-right: 37px;
      @include media-breakpoint-down(mobile) {
        display: none;
      }
    }
    .article__block-slide-arrows-group {
      @include media-breakpoint-down(mobile) {
        align-items: flex-end;
        text-align: center;
      }
    }
    .articles__arrow {
      margin: 0;
    }
    .article__block-slide-arrows-group-text {
      margin-right: 20px;
      
      @include media-breakpoint-down(mobile) {
        order: 1;
        margin-right: 0;
      }
    }
  }

  li {
    position: relative;
    padding-left: 15px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      background: #000;
      border-radius: 50%;
      top: 6px;
      // transform: translateY(-50%);
      left: 0;
    }
  }

  ul {
    margin-bottom: 24px;
    @include media-breakpoint-down(mobile) {
      margin-bottom: 16px;
    }
  }

  h1 {
    max-width: 850px;
    font-size: 64px;
    font-weight: 500;
    line-height: 76px;
    margin-bottom: 32px;
    margin-left: -2px;
    @include media-breakpoint-down(mobile) {
      font-size: 38px;
      line-height: 52px;
      margin-bottom: 24px;
    }
  }
  &__inner {
    max-width: 850px;
    h2 {
      padding-top: 32px;
      font-family: Roboto Condensed;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 32px;
      @include media-breakpoint-down(mobile) {
        padding-top: 24px;
        margin-bottom: 24px;
      }
    }
    h3 {
      font-family: Oswald;
      font-weight: normal;
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 24px;
      margin-top: 32px;
      @include media-breakpoint-down(mobile) {
        margin-bottom: 16px;
      }
    }
    p {
      font-family: Roboto Condensed;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 24px;
      @include media-breakpoint-down(mobile) {
        margin-bottom: 16px;
      }
    }
    img {
      max-width: 700px;
      width: 100%;
      padding-bottom: 8px;
      & + p {
        margin-top: 24px;
      }
      & + span {
        display: block;
        font-family: Roboto Condensed;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #909090;
        margin-bottom: 24px;
      }
    }
    blockquote{
      margin: 48px 0;
      width: 100%;
      padding: 32px 67px;
      background: #FAFAFA;
      text-align: center;
      @include media-breakpoint-down(mobile) {
        width: auto;
        margin: 24px -20px;
        padding: 30px 30px;
      }
      & > * {
        display: block;
        position: relative;
        font-family: Roboto Condensed;
        font-style: italic;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        display: inline;
        -webkit-box-decoration-break: clone;
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 18px;
          height: 14px;
          top: -5px;
          right: 100%;
          background-image: url('../assets/images/content/articles/quote-img.svg');
          background-repeat:no-repeat;
          background-position: center;
          background-size:cover;
          margin-right: 8px;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 18px;
          height: 14px;
          bottom: 0;
          left: calc(100% - 20px);
          background-image: url('../assets/images/content/articles/quote-img.svg');
          background-repeat:no-repeat;
          background-position: center;
          background-size:cover;
          transform: rotate(180deg);
          margin-left: 32px;
        }
        @include media-breakpoint-down(mobile) {
          &::before {
            right: calc(100% - 0px);
          }
          &::after {
            left:  calc(100% - 5px);
            margin-left: 10px;
          }
        }
      }
    }
    section {
      margin: 32px 0;
      padding: 12px 0;
      padding-left: 32px;
      border-left: 3px solid $red;
      @include media-breakpoint-down(mobile) {
        margin: 24px 0;
        padding-left: 16px;
      }
      & div {
        margin: 0;
        padding: 0;
        width: auto;
        background:transparent;
      }
      & > div {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        & + p {
          margin-bottom: 0;
        }
        & div:first-child {
          width: 64px;
          height: 64px;
          border-radius: 100%;
          background-repeat:no-repeat;
          background-position: center;
          background-size:cover;
          margin-right: 16px;
        }
        & div:not(:first-child) {
          p {
            font-family: Oswald;
            font-weight: normal;
            font-size: 22px;
            line-height: 33px;
            margin-bottom: 5px;
          }
          span {
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color:#909090;
            text-align: left;
            &::before, &::after {
              display: none;
            }
          }
        }
      }
    }

    @include media-breakpoint-down(mobile) {
      article {
        background: #fafafa;
        padding: 30px 20px;
        margin: 0 -20px;
        h3 {
          margin-top: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  
}

.articles {
  padding: 81px 0 22px;

  @include media-breakpoint-down(mobile) {
    padding-top: 17px;
  }
  .publications__more-btn {
    .text {
      font-weight: 500;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 0px;
    padding-bottom: 80px;
    @include media-breakpoint-down(mobile) {
      margin-top: 0;
      padding-bottom: 50px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  &__item {
    width: calc(33.3% - 20px);
    min-height: 420px;
    height: auto;
    margin: 10px;
    background-color: $light-gray;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // transition: 0.3s ease 0s;
    &:hover {
      .articles-card__top-title {
        // transition: 0.3s ease;
        color: $red;
      }
      .articles__btn {
        color: $red;
        .icon {
          transform: translateX(3px);
          fill: red;
        }
      }
    }
    .is-dark & {
      background-color: $lblack;
    }
    &--img {
      color: #fff;
      
      .articles__arrow .icon {
        fill: #fff;
      }
    }
    @include media-breakpoint-down(tabletlg) {
      width: calc(50% - 20px);
    }
    @include media-breakpoint-down(mobile) {
      width: calc(100% - 20px);
      min-height: 300px;
    }
  }
  &+ .up-button-section {
    .up-button-section__inner {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  &-card {
    padding: 50px;
    height: 100%;
    @include media-breakpoint-down(mobile) {
      padding: 32px 18px;
    }
  }
  &-card__top {
    margin-bottom: 87px;
    width: 100%;
  }
  &-card__top-text {
    display: inline-block;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;    
  }
  &-card__top-title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    font-family: Oswald;
    transition: color 0.3s ease-in-out;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &-card__bottom {
    width: 100%;
  }
  &-card__bottom-text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__btn {
    transition: 0.3s ease-in-out;
    &-text {
      font-size: 16px;
      line-height: 19px;
      font-weight: bold;
    }
  }
  &__arrow {
    margin-left: 10px;
    max-width: 16px;
    max-height: 9px;
    .icon {
      display: inline-block;
      width: 16px;
      height: 9px;
      transition: 0.3s ease-in-out;
    }
  }
  &-card__inner {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: space-between;
  }
  &__title-box-many{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(mobile){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__download{
    color: $red;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    text-decoration: none;
    @include media-breakpoint-down(mobile){
      margin-top: 10px;
    }
  }
  &__inner {
    margin: 0 -10px;
    margin-top: 37px;
  }

  &__filter {
    margin: 30px 10px 10px 10px;
    overflow: hidden;
    @include media-breakpoint-down(mobile){
      margin: 15px -10px 5px -10px;
    }
  }
}
.articles-content{
  & .articles__inner {
    margin-top: 30px;

  }
}
.portfolio {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc(50% - 20px);
    margin: 10px;

    @include media-breakpoint-down(tablet) {
      width: calc(100% - 20px);
    }
  }
}

.articles-title {
  font-size: 64px;
  font-weight: 500;
  margin-left: -2px;
  @include media-breakpoint-down(mobile) {
    font-size: 44px;
  }
}

.case-card {
  color: $white;
  position: relative;
  background-size: 0px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 55%;
  max-height: 360px;

  @include media-breakpoint-down(mobile) {
    padding-top: 96%;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;

    @include media-breakpoint-down(tabletlg) {
      padding: 30px;
    }

    @include media-breakpoint-down(mobile) {
      padding: 0;
      pointer-events: none;
    }
  }

  &__content-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(mobile) {
      position: static;
      display: flex;
      align-items: flex-end;
      padding: 10%;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: normal;
  }

  &__content {
    position: absolute;
    left: 0;
    top: calc(100% - 71px);

    @include media-breakpoint-down(mobile) {
      position: static;
      width: 100%;
    }

    &-row {

      &:last-child {
        margin-top: 19px;
      }

      &:nth-child(2) {
        margin-top: 21px;

        @include media-breakpoint-down(mobile) {
          margin-top: 10px;
        }
      }

      &--hidden {
        // height: 0;
        transition: height 0.3s ease-in-out;

        @include media-breakpoint-down(mobile) {
          display: none;
        }
      }
    }
  }

  &__icon {
    fill: $white;
    stroke: $white;
    display: inline-block;
    position: relative;
    top: 2px;

    @include media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__link {
    @include media-breakpoint-down(mobile) {
      font-size: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));

   //  .browser-ie & {
   //    &::before {
   //      position: absolute;
   //      content: '';
   //      left: 0;
   //      right: 0;
   //      top: 0;
   //      width: 100%;
   //      height: 100%;
   //      background-color: rgba(0, 0, 0, 0.5);
   //      z-index: 9;
   //      transition: background-color 0.3s ease;
   //    }

   //  }
    
  }

  .link--arrow {
      position: relative;
   }
   .arrow-right {
      position: absolute;
      top: 27%;
   }

//   &.touch-down {
//     filter: none;

//     .case-card__content {
//       transform: translateY(0);
//     }

//     .case-card__img {
//       filter: none;

//       .browser-ie & {
//         &::before {
//           background-color: rgba(0, 0, 0, 0);
//         }
//       }
//     }

//     .browser-ie & {
//       .case-card__overlay {
//         &::before {
//           background-color: rgba(0, 0, 0, 0);
//         }
//       }
//     }
//   }

}

.browser-ie .case-card .title__arrow {
  top: -60px;
}

.case-card .technologies__item, .case-card .link--arrow a {
  color: $white;
}

.arrow-right {
  display: block;
  font-size: 20px;
  position: relative;
  .case-card & {
     width: 15.5px;
   }
  &__main {
    fill: $black;

    .case-card & {
      fill: $white;
    }

    .project-details & {
      .browser-ie & {
         height: 100%;
      }
    }

    .is-dark & {
      fill: $white;
    }

    .browser-ie .articles-content & {
      fill: $white;
    }
  }

  &__fill-wrap {
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    transition-delay: 0s;

    .browser-ie & {
      display: none;
    }
  }

  &__fill {
    fill: $red;

    .index-content & {
      width: 35px;

      @include media-breakpoint-down(mobile) {
        width: 23.1px;
      }
    }

    .case-card & {
      width: 15.5px;
    }

    .career-content & {
      width: 24px;

      @include media-breakpoint-down(mobile) {
        width: 19.1px;
      }
    }
  }

  svg {
    width: 100px;
    height: 100%;
  }
}

.title__arrow {
  margin-left: 20px;
  width: 35px;
  height: 20px;
  display: inline-block;
  overflow: visible;
  transition: transform 0.6s ease;
  .career-content & {
    position: relative;
    top: -2px;
  }
  &--articles{
    .index-content & {
      @include media-breakpoint-down(mobile) {
        position: relative;
        top: 3px;
      }
  }

  }
  &--down{
    width: 24px!important;
    height: auto!important;
    transform: rotate(90deg);
    @include media-breakpoint-down(mobile){
      margin-left: 7px!important;
    }
    &-fill{
      width: 24px!important;
    }
  }
  .browser-ie & {
    position: relative;
    top: -65px;
  }

  .browser-ie .articles-content & {
    top: -71px;
  }

  .browser-ie .career-content & {
    top: -70px;
  }

  @include media-breakpoint-down(mobile) {
    width: 23px;
    height: 17px;
    margin-left: 11px;
  }

  svg {
    transition: fill 0.6s ease;
    transform-origin: left;
    overflow: visible;
  }

  .articles-separate & {
    width: 16px;
    height: 9px;
    fill: $white;
  }

  .job & {
    width: 24px;
    height: 11px;

    @include media-breakpoint-down(mobile) {
      width: 19px;
    }
  }
}

.link--arrow {
  display: inline-block;

  a {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient($black, $black);
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
    transition-delay: 0.2s;
    animation: text-color 0.3s linear infinite;
    @media screen and (max-width: 425px) {
      display: block;
    }
    .is-dark & {
      background-image: linear-gradient($white, $white);
    }

    .case-card &, .project-details & {
      background-image: linear-gradient($white, $white);
      font-weight: bold;
    }
  }

  .arrow-right__part {
    transition: transform 0.6s ease;
  }

  &:not(.--no-hover) {
   @include hover() {
      .arrow-right__main {
        fill: $red;
        transition-delay: 0.5s;
      }
  
      a {
        background-size: 0% 100%;
        transition-delay: 0s;
      }

      .title__arrow {
        transform: translateX(3px);
        svg {
  
          // fill: $red;
          .arrow-right__axis {
            transform: scale(1.2, 1);
            .title__arrow--down &{
              transform: scale(1);
            }
          }
  
          .arrow-right__head {
            transform: translateX(4px);
          }
        }
  
        .arrow-right__fill-wrap {
          width: calc(100% + 4.2px);
          transition-delay: 0.2s;
        }
      }
     .title__arrow--down{
       transform: translatey(3px) rotate(90deg);
     }
    }
  }

  

  .browser-ie & {
    a {
      background: none;
      background-image: none;
      background-size: 0;
      background-clip: unset;
      background-color: transparent;
      animation: none;
      color: $black;
      
      .is-dark & {
        color: $white;
      }
    }
    &:not(.--no-hover) {
      @include hover {
        a {
          color: $red;
        }
  
        svg {
          fill: $red;
        }
      }
    }
  }
}

.browser-ie .case-card .link--arrow {
   a {
      color: $white;
   }
}

.browser-ie .articles-content .link--arrow a {
  color: $white;
  transition: color 0.3s ease;
  &:not(.--no-hover)  {
    @include hover() {
      color: $red;
    }
  }
  
}


@keyframes text-color {
  0% {
    background-color: $red
  }

  100% {
    background-color: $red;
  }
}

.articles-separate {
  padding-top: 150px;
  padding-bottom: 80px;
  min-height: calc(100vh - 280px);
  @include media-breakpoint-down(mobile) {
    padding-top: 130px;
    padding-bottom: 50px;
    min-height: calc(100vh - 255px);
  }
}





.filter {

  &__line {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin: 20px 0 20px 0;
    padding-bottom: 10px;
    @include media-breakpoint-down(mobile){
      margin: 15px 0px 0px 0px;
      padding: 0 0px 15px 0;
      font-size: 0;
    }
  }
}

.filter-item {
  position: relative;
  margin-right: 30px;
  @include media-breakpoint-down(mobile){
    display: inline-block;
    &:first-child{
      margin-left: 20px;
    }
  }
  &:last-child {
    margin-right: 12px;
  }
  
  &__input {
    display: none;
    position: absolute;
    opacity: 0;
    top: 10px;
    z-index: -1;
    right: -99999; 
  }
  & input:checked + .filter-item__text {
    color: $red;
    border-bottom-color: rgba(0, 0, 0, 0);
    transition: all .2s ease;
    & svg{
      opacity: 1;
    }
    &:after{
      opacity: 1;
    }
  }
  &__text {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed;
    line-height: 20px;
    font-size: 12px;
    font-family: 'Roboto Mono';
    font-weight: normal;
    color: #4a4a4a;
    cursor: pointer;
    transition: all .2s ease;
    &:after{
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      opacity: 0;
      background-color: $red;
      transition: opacity .3s ease;
    }
    & svg{
      position: absolute;
      right: -12px;
      top: 8px;
      fill: $red;
      opacity: 0;
      font-size: 6px;
      transition: all .15s ease;
    }
    .is-dark & {
      color: #ffffff;
      font-weight: 300;
    }
    
    @include hover() {
      color: $red;
      border-bottom-color: rgba(0, 0, 0, 0);
      transition: all .2s ease;
      &:after{
        opacity: 1;
        transition: opacity .2s ease;
      }
    }
  }
}



.articles__not-project{
  display: flex;
  width: 100%;
  margin: 0 10px;
  height: 35vh;
  text-align: center;
  margin-bottom: -40px;
  @include media-breakpoint-down(mobile){
    height: 50vh;
  }
  &-text{
    margin: auto;
    display: inline-block;
    font-size: 30px;
    color: $red;
  }
}

.is-dark  {
  .articles__arrow .icon {
    fill: #fff;
  }
  .articles-card__top-title {
    color: #fff;
  }
  .articles + .up-button-section .up-button-section__inner {
    border-top: 1px solid rgba(225, 225, 225, 0.2);
  }
  .article__quote-text,
  .article blockquote {
    color: #fff;
  } 
  .article blockquote {
    background: #303030;
  } 
  .article li::before {
    background: #fff;
  }
  .article__block-slide-arrows {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}