section.page-section.articles.articles-separate
  .container
    .articles__title-box
      h1.title.articles-title Статьи
    .articles__inner
      .articles__filter
        form.filter.js-filter(action="/assets/data/articles.json" method="GET")
          .filter__line
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='radio' name="type" )
              span.filter-item__text Наш опыт
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='radio' name="type" )
              span.filter-item__text Разработчикам
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='radio' name="type" )
              span.filter-item__text Истории
                +svg('cross')
            label.filter-item
              input.filter-item__input.js-filter-item__input(type='radio' name="type" )
              span.filter-item__text Менеджерам
                +svg('cross')         
      .articles__content.js-articles
        a(style="background-image: url('assets/images/content/articles/articles-img.jpg'); background-color: rgba(0, 0, 0, 0.5)" href="page-article.html" ).articles__item.articles__item--img
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right') 
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')
        a(href="#" target="_blank").articles__item
          .articles-card.js-lazy
            .articles-card__inner
              .articles-card__top
                span.articles-card__top-text Истории
                p.articles-card__top-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              .articles-card__bottom
                p.articles-card__bottom-text Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
                .articles__btn
                  span.articles__btn-text Читать статью
                  span.articles__arrow
                    +svg('arrow-right')             
      .publications__more-wrapper
        a.publications__more-btn.js-show-article
          +svg('plus')
          span.text Показать еще 
        