.corp-portals-develop {
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-down(mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
        @include media-breakpoint-down(mobile) {
            margin-top: 30px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: calc(50% - 10px);
        width: 100%;
        padding: 30px;
        background-color: $light-gray;
        @include media-breakpoint-down(mobile) {
            max-width: 100%;
            padding: 20px;
        }
        &:not(:last-child) {
            margin-right: 20px;
            @include media-breakpoint-down(mobile) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        .is-dark & {
            background-color: $lblack;
        }
    }
    &__name {
        max-width: 420px;
        width: 100%;
        margin-bottom: 17px;
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        @include media-breakpoint-down(mobile) {
            font-size: 20px;
        }
    }
    &__price {
        font-family: 'Roboto Mono', monospace;
        font-size: 12px;
        font-weight: 300;
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: -30px;
        margin-left: auto;
        font-size: 200px;
        transform: translateY(-30px);
        @include media-breakpoint-down(mobile) {
            margin-bottom: 0;
            font-size: 75px;
            transform: translateY(0);
        }
    }
}