.publications {
  padding: 68px 0 80px;
  //max-width: 850px;
  //flex-basis: 70%;
  &--small{
    padding-bottom: 40px;
  }
  @include media-breakpoint-down(mobile) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  &__inner {
    padding-top: 50px;
    @include media-breakpoint-down(mobile) {
      padding-top: 40px;
      padding-bottom: 3px;
    }

  }

  &__list {
    @include media-breakpoint-up(tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -3rem;
    }

    .publication-item {
      margin-bottom: 40px;
      @include media-breakpoint-up(tablet) {
        flex-basis: 33.333%;
        padding: 0 3rem;
      }
      @include media-breakpoint-down(mobile) {
        //flex-basis: calc(50% - 15px);
        flex-basis: 33.333%;

      }
      
      &__date {
        font-family: Roboto Mono;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 8px;
      }

      &__title {
        font-size: 22px;
        line-height: 33px;
        color: #4a4a4a;
        padding-bottom: 14px;
        font-weight: 400;
        font-family: Oswald;

        .is-dark & {
          color: $white;
        }
      }

      &__author {
        font-size: 16px;
        line-height: 19px;       
        color: #909090;
      }

      &__description {
        font-size: 16px;
        line-height: 25px;
        padding-top: 16px;
        padding-bottom: 16px;

        .is-dark & {
          color: #909090;
        }
      }

      &__link-wrapper {        
        .text {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          transition: color 0.5s ease;
        }

        .icon {
          width: 15px;
          height: 15px;
          margin-left: 8px;
          transition: color 0.5s ease;
        }
      }
    }
  }

  &__more {

    &-wrapper {
      @include media-breakpoint-up(tablet) {
        padding-top: 12px;
        display: flex;
        justify-content: center;
      }

      @include media-breakpoint-down(mobile) {
        text-align: center;
      }
    }

    &-btn {
      height: 24px;
      display: inline-flex;
      align-items: center;

      @include media-breakpoint-down(mobile) {
        justify-content: center;
      }

      .icon {
        height: 18px;
        transition: fill 0.5s ease;

        .is-dark & {
          fill: $white;
        }
      }

      .text {
        padding-left: 20px;
        transition: color 0.5s ease;
        font-family: 'Oswald';
      }

      &:active {
        .text {
          color: #eb5757;
        }

        .icon {
          fill: #eb5757;
        }
      }
    }
  }
}

.no-touch {
  .publications__more-btn:hover {
    .text {
      color: #eb5757;
    }

    .icon {
      fill: #eb5757;
    }
  }
}

.up-button-wrapper--about {
  .separator {
    margin-bottom: 0;
  }

  .up-button-section__inner {
    height: 183px;

    @include media-breakpoint-down(mobile) {
      height: 123px;
    }
  }
}