.services-main {
  padding: 48px 0 9px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -10px 0;
    @include media-breakpoint-down(mobile) {
      margin-top: 23px;
    }
  }
  &__item {
    width: calc(50% - 20px);
    height: auto;
    margin: 10px;
    background-color: $light-gray;
    .is-dark &{
      background: #303030;
    }
    @include media-breakpoint-down(mobile) {
      width: calc(100% - 20px);
      min-height: 300px;
    }
  }
}

.service-main-card {
  padding: 50px;
  @include media-breakpoint-down(mobile) {
    padding: 32px 18px;
  }
  &__top {
    display: block;
    position: relative;
  }
  &__arrow{
    width: 18px;
    height: 10px;
    &-fill{
      color: $red;
      width: 18px!important;
    }
  }
  &__middle {
    margin: 30px 0 55px;
    &--second{
      margin-bottom: 30px;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 500;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
  }
  &__row{
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    align-self: flex-end;
    &--second{
      position: relative;
      top: 15px;
    }
  }
  &__descr {
    line-height: 25px;
    .is-dark & {
      color: $gray;
    }
  }
}



.what-do{
  &__item{
    display: flex;
    align-items: center;
    line-height: 25px;
    &:not(&:last-child){
      margin-bottom: 0.5rem;
    }
    &::before{
      content: '';
      width: 10px;
      display: block;
      background: $red;
      height: 1px;
      margin-right: 10px;
    }
  }
}