.services-main#services-main
  .container
    h2.title.section-title Услуги
    .services-main__inner
      .services-main__item
        .service-main-card
          .service-card-main__inner
            .service-card__top
              h2.title.link--arrow.service-main-card__title
                a(href="cases.html") Digital-разработка
                  .arrow-right.title__arrow.service-main-card__arrow
                    div.arrow-right__main
                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                      <defs>
                      <style>.cls-1{fill-rule:evenodd;}</style>
                      </defs>
                      <title>Untitled-1</title>
                      <g id="Trash" class="arrow-right__head arrow-right__part">
                      <g id="Logo-Copy-12">
                      <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                      <g id="Shape">
                      <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                      </g>
                      </g>
                      </g>
                      </g>
                      <g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part">
                      <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                      <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                      </g>
                      </g>
                      </g>
                      </g>
                      </svg>
                      div.arrow-right__fill-wrap
                        div.arrow-right__fill.service-main-card__arrow-fill
                          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                          <defs>
                          <style>.cls-1{fill-rule:evenodd;}</style>
                          </defs>
                          <title>Untitled-1</title>
                          <g id="Trash" class="arrow-right__head arrow-right__part">
                          <g id="Logo-Copy-12">
                          <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                          <g id="Shape">
                          <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                          </g>
                          </g>
                          </g>
                          </g>
                          <g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part">
                          <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                          <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                          </g>
                          </g>
                          </g>
                          </g>
                          </svg>
            .service-main-card__middle
              p.service-main-card__descr Закрываем полный спектр услуг разработки  IT-систем: от предпроектных исследований до ввода в эксплуатацию и поддержки.
            .service-main-card__bottom
              ul.what-do
                li.what-do__item Сайты
                li.what-do__item Интернет-магазины
                li.what-do__item Корпоративные порталы
                li.what-do__item CRM-системы
              img.service-main-card__icon(src='assets/images/content/index/blocks.svg')
      .services-main__item
        .service-main-card
          .service-card-main__inner
            .service-card__top
              h2.title.link--arrow.service-main-card__title
                a(href="cases.html") Усиление IT-команд
                  .arrow-right.title__arrow.service-main-card__arrow
                    div.arrow-right__main
                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                      <defs>
                      <style>.cls-1{fill-rule:evenodd;}</style>
                      </defs>
                      <title>Untitled-1</title>
                      <g id="Trash" class="arrow-right__head arrow-right__part">
                      <g id="Logo-Copy-12">
                      <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                      <g id="Shape">
                      <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                      </g>
                      </g>
                      </g>
                      </g>
                      <g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part">
                      <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                      <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                      </g>
                      </g>
                      </g>
                      </g>
                      </svg>
                      div.arrow-right__fill-wrap
                        div.arrow-right__fill.service-main-card__arrow-fill
                          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                          <defs>
                          <style>.cls-1{fill-rule:evenodd;}</style>
                          </defs>
                          <title>Untitled-1</title>
                          <g id="Trash" class="arrow-right__head arrow-right__part">
                          <g id="Logo-Copy-12">
                          <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                          <g id="Shape">
                          <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                          </g>
                          </g>
                          </g>
                          </g>
                          <g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part">
                          <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                          <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                          </g>
                          </g>
                          </g>
                          </g>
                          </svg>
            .service-main-card__middle.service-main-card__middle--second
              p.service-main-card__descr Предоставляем разработчиков на аутстафф. Собираем проектные команды и заменяем отдел разработки. Усиляем экспертизу для долгосрочного развития проектов.
            .service-main-card__bottom
              ul.what-do
                li.what-do__item Аутстафф
                li.what-do__item Ретейнер
                li.what-do__item Техническая поддержка
                li.what-do__item Партнерские проекты
              img.service-main-card__icon.service-main-card__icon--second(src='assets/images/content/index/team.svg')