section.career-section.cooperation
  .container
    h2.title.section-title Сотрудничаем с лучшим университетом региона – ВлГУ
    .career-section__inner 
      .career-section__row
        .career-section__descr
          p Hawking School – это первые курсы дополнительного образования во Владимире, где готовят специалистов в области digital-технологий. Профессии будущего доступны теперь и в нашем городе!
      .cooperation__row
        .career-section__descr
          p Hawking School – это команда профессионалов, влюбленных в digital. В нашей школе преподают эксперты ведущих интернет-компаний региона с опытом работы более 5 лет.
    .career-section__row
      .picture.cooperation-picture(data-src="assets/images/content/career/cooperation.jpg").js-lazy