/**
 * Fonts
 */

 @font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Light.eot');
  src: url('../assets/fonts/RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-Light.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-Bold.eot');
  src: url('../assets/fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoCondensed-Bold.woff2') format('woff2'),
      url('../assets/fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-Light.eot');
  src: url('../assets/fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoCondensed-Light.woff2') format('woff2'),
      url('../assets/fonts/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-SemiBold.eot');
  src: url('../assets/fonts/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Oswald-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Regular.eot');
  src: url('../assets/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Oswald-Regular.woff2') format('woff2'),
      url('../assets/fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-BoldItalic.eot');
  src: url('../assets/fonts/RobotoMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Italic.eot');
  src: url('../assets/fonts/RobotoMono-Italic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-Italic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Bold.eot');
  src: url('../assets/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Oswald-Bold.woff2') format('woff2'),
      url('../assets/fonts/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-MediumItalic.eot');
  src: url('../assets/fonts/RobotoMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-MediumItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Medium.eot');
  src: url('../assets/fonts/RobotoMono-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-Medium.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-ThinItalic.eot');
  src: url('../assets/fonts/RobotoMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-ThinItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-Italic.eot');
  src: url('../assets/fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoCondensed-Italic.woff2') format('woff2'),
      url('../assets/fonts/RobotoCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Medium.eot');
  src: url('../assets/fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Oswald-Medium.woff2') format('woff2'),
      url('../assets/fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Bold.eot');
  src: url('../assets/fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-Bold.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-LightItalic.eot');
  src: url('../assets/fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Light.eot');
  src: url('../assets/fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Oswald-Light.woff2') format('woff2'),
      url('../assets/fonts/Oswald-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Regular.eot');
  src: url('../assets/fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-BoldItalic.eot');
  src: url('../assets/fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-ExtraLight.eot');
  src: url('../assets/fonts/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Oswald-ExtraLight.woff2') format('woff2'),
      url('../assets/fonts/Oswald-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-LightItalic.eot');
  src: url('../assets/fonts/RobotoMono-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-LightItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Thin.eot');
  src: url('../assets/fonts/RobotoMono-Thin.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoMono-Thin.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-Regular.eot');
  src: url('../assets/fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
      url('../assets/fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


 
//  @import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');

 