/**
 * Global
 */
 
*,
*::after,
*::before {
    outline: none !important;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    touch-action: manipulation;
    letter-spacing: normal;
}

html,
body {
    width: 100%;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    background-color: $white;
}
input, select, textarea, button {
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
}

textarea { 
    overflow: auto; 
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}
body {
  color: $lblack;
  background-color: $white;
  .is-dark & {
    color: $light-gray;
    background-color: $black;
  }
}

body.loading {
  overflow: hidden;
}

svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    // transition: fill 0.1s ease;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
  font-weight: normal;
}

.svg-sprite {
    display: none !important;
    position: absolute;
    left: -9999px;
    right: -9999px;
    visibility: hidden;
    opacity: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
  width: 1340px;
  margin: 0 auto;
  @include media-breakpoint-down(desktop) {
    width: auto;
    margin: 0 50px;
  }
  @include media-breakpoint-down(tablet) {
    width: auto;
    margin: 0 40px;
  }
  @include media-breakpoint-down(mobile) {
    margin: 0 20px;
  }
  @include media-breakpoint-down(min) {
    margin: 0 20px;
  }
  &--wide {
    // @include media-breakpoint-up(desktoplg) {
    //   width: auto;
    //   margin: 0 60px;
    // }
    @media screen and (min-width: 1600px) {
      width: auto;
      margin: 0 60px;
    }
  }
}

.title, .section-title {
  font-family: 'Oswald', sans-serif;
  letter-spacing: normal;
}

.section-title {
  font-size: 36px;
  font-weight: 400;
  @include media-breakpoint-down(mobile) {
    font-size: 26px;
  }
  &--corp-portals {
    @include media-breakpoint-down(mobile) {
      font-size: 26px;
    }
    br {
      @include media-breakpoint-down(tablet) {
        display: none;
      }
    }
  }
}

.main-content {
  width: 100%;
  height: 100%;
}

.page-section {
  padding: 32px 0;
}

.lang {
  font-size: 18px;
}

.is-dark{
  background-color: $black;
}
.is-red{
  color: $red;
}
.link-list {
  padding: 250px 0;
}

.pages {
  padding: 50px;
  &__item {
    margin-top: 30px;
    font-size: 26px;
    transition: color 0.3s ease;
    @include hover() {
      color: $gray;
    }
  }
}

body.body-mfp {
  overflow: hidden !important;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  .is-dark & {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
  margin-bottom: 35px; 
  @include media-breakpoint-down(mobile) {
    margin-bottom: 0;
  }
}



