///
// Vars
///

$grid-breakpoints: (
	min: 0px,
  mobile: 380px,
  tablet: 768px,
  tabletlg: 900px,
  desktop: 1260px,
  desktoplg: 1440px
);

// colors

$black: #202020;
$lblack: #303030;
$white: #fff;
$red: #eb5757;
$light-gray: #fafafa;
$gray: #909090;
