.up-button-section {
  position: relative;
  padding-top: 0;
  //padding-bottom: 32px;
  @include media-breakpoint-down(mobile) {
    padding-bottom: 0;
    padding-top: 10px;
  }
  .about-content & {
    padding-top: 0;
  }
  &__inner {
    text-align: center;
    //border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    overflow: visible;
    width: 100%;
    position: relative;
    height: 174px;
    @include media-breakpoint-down(mobile) {
      height: 113px;
      //border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
    }
    .career-detail-content & {
      border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
    }
    .cases-content & {
      border-top: none;
    }
    .is-dark & {
      border-color: rgba($color: #fff, $alpha: 0.2);
    }
  }
  
}

.up-button {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon-holder {
    height: 100%;
    overflow: visible;
    transform: rotateZ(-90deg);
    padding-bottom: 3px;
    position: relative;
    top: 3px;
    display: inline-block;
    @include media-breakpoint-down(mobile) {
      top: -2px;
    }
  }
  &__icon {
    fill: $black;
    @include media-breakpoint-down(mobile) {
      margin-right: 4px;
    }
  }
  .is-dark & {
    color: $gray;
    &__icon {
      fill: $gray;
    }
  }
  &__text {
    transition: color 0.6s ease;
    margin-left: 15px;
    display: inline-block;
  }
}

.arrow-up {
  width: 19px;
  height: 20px;
  overflow: visible;
  display: block;
  @include media-breakpoint-down(mobile) {
    width: 17px;
    height: 11px;
  }
  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, fill 0.5s ease;
    overflow: visible;
  }
  &__part {
    transition: transform 0.5s ease;
  }
}

.up-button {
  overflow: visible;
  @include hover() {
    color: $red;
    svg {
      overflow: visible;
      transform: translateX(2px);
      fill: $red;
      .arrow-up__axis {
        transform: scale(1.2, 1);
      }
      .arrow-up__head {
        transform: translateX(3px);
      }
    }
      
  }
  
}