extends ./templates/template
block title
  title О компании
  script(defer src="js/loading-bar.min.js")
block content
  - var pageName = "about"
  include components/preloader/_preloader.pug
  include components/header/_header.pug
  .wrapper
    .main-content.js-main-content.about-content
      include components/about-intro/_about-intro.pug
      include components/about-team/_about-team.pug
      .up-button-wrapper.up-button-wrapper--about
        .container
          .separator
        include components/up-button/_up-button.pug
      include components/footer/_footer.pug
      include components/cookie/_cookie.pug
  .main-menu-holder
    .container
      .main-menu-box
        include components/main-menu/_main-menu.pug
  