extends ./templates/template

block title 
  title Hawking Brothers. Веб-интегратор. Аутсорсинг веб-разработки для бизнеса и digital-агентств.
block content
  - var pageName = "career"
  include components/preloader/_preloader.pug
  include components/header/_header.pug
  .wrapper
    .main-content.js-main-content.career-content
      include components/career-intro/_career-intro.pug
      #career-culture
      include components/career-culture/_career-culture.pug
      include components/career-school/_career-school.pug
      include components/career-cooperation/_career-cooperation.pug
      include components/career-life/_career-life.pug
      include components/up-button/_up-button.pug
      include components/footer/_footer.pug
      include components/cookie/_cookie.pug
  .main-menu-holder
      .container
        .main-menu-box
          include components/main-menu/_main-menu.pug