extends ./templates/template

block title 
  title Hawking Brothers. Веб-интегратор. Аутсорсинг веб-разработки для бизнеса и digital-агентств.
  script(defer src="js/sticky-kit.min.js")
block content
  - var pageName = "career-detail"
  include components/preloader/_preloader.pug
  include components/header/_header.pug
  .wrapper
    .main-content.js-main-content.career-detail-content
      include components/career-detail-main/_career-detail-main.pug
      include components/up-button/_up-button.pug
      include components/footer/_footer.pug
      include components/cookie/_cookie.pug
  .main-menu-holder
      .container
        .main-menu-box
          include components/main-menu/_main-menu.pug
  .popup.js-project-popup
    .popup__inner
      .popup__window
        .project-details
          .project-details__top
            .project-details__image.picture(data-src="assets/images/content/cases/earth.png").js-lazy
            .project-details__close.js-close-popup
              +svg('cross')
          .project-details__inner
            .project-details__heading 
              span Название проекта
            .project-details__description
              p.project-details__task.project-details__row <span class="project-details__subtitle">Задача:</span> здесь будет крутое описание задачи и оно может быть в несколько строк. Здесь будет крутое описание задачи и оно может быть в несколько строк.
              p.project-details__stack.project-details__row <span class="project-details__subtitle">Техологический стэк решения:</span><br>PHP - JavaScript -Bitrix
              .project-details__team.project-details__row
                span.project-details__subtitle Команда проекта:
                ul
                  li Backend-разработчик x2
                  li Frontend-разработчик
                  li Менеджер проектов
                  li QA
              p.project-details__amount.project-details__row <span class="project-details__subtitle">Объем по проекту:</span> >360 часов
              p.project-details__amount.project-details__row <span class="project-details__subtitle">Сроки проекта:</span> 2 месяца
            .project-details__about
              .achievements
                .achievements__inner
                  .achievements__item
                    a.achievement(href="https://tagline.ru/web-developers-integrators-rating/" target="_blank")
                      .achievement__top
                        .achievement__icon.picture
                          img(src="assets/images/content/about/tagline-label_2.svg", alt="").achievement__icon-img
                          span.achievement__icon-text 63
                        .achievement__value
                      .achievement__bottom
                        span.achievement__text место в России среди веб&#8209;интеграторов
                  .achievements__item
                    a.achievement(href="https://ruward.ru/index-ruward/united-web-rating-2019/" target="_blank")
                      .achievement__top
                        .achievement__icon.picture
                          img(src="assets/images/content/about/Bitmap.svg", alt="").achievement__icon-img.achievement__icon-img--light
                          img(src="assets/images/content/about/Bitmap1.svg", alt="").achievement__icon-img.achievement__icon-img--dark
                          span.achievement__icon-text.achievement__icon-text_small ТОП-100
                        .achievement__value
                      .achievement__bottom
                        span.achievement__text в Едином рейтинге веб&#8209;студий 2019
                  .achievements__item
                    a.achievement(href="https://www.1c-bitrix.ru/partners/1116013.php?sphrase_id=64144194" target="_blank")
                      .achievement__top
                        .achievement__icon.picture
                          img(src="assets/images/content/about/1c_bitrix_logo.svg", alt="").achievement__icon-img
                          span.achievement__icon-text.achievement__icon-text--svg
                            +svg('gold-partner')
                        .achievement__value
                      .achievement__bottom
                        span.achievement__text Золотой партнер 1С&nbsp;Битрикс
            .project-details__bottom
              a(href="").project-details__link.link--privacy Перейти на сайт
  