extends ./templates/template


block title 
  title Hawking Brothers. Веб-интегратор. Аутсорсинг веб-разработки для бизнеса и digital-агентств.
    
  //- script(defer src="js/corp-portals-canvas.js")
block content
  - var pageName = "corp-portals"
  include components/preloader/_preloader
  include components/header/_header
  .wrapper
    .main-content.js-main-content
      include components/introduction/_introduction-corp-portals
      include components/corp-portals-info/_corp-portals-info
      include components/corp-portals-features/_corp-portals-features
      include components/corp-portals-develop/_corp-portals-develop
      include components/corp-portals-consultation/_corp-portals-consultation
      include components/corp-portals-steps/_corp-portals-steps
      include components/corp-portals-company/_corp-portals-company
      include components/corp-portals-works/_corp-portals-works
      include components/corp-portals-contacts/_corp-portals-contacts
      include components/footer/_footer
      include components/cookie/_cookie
  .main-menu-holder
    .container
      .main-menu-box
        include components/main-menu/_main-menu
  include ./_yandex-api
  
  
  
