extends ./templates/template


block title 
  title Hawking Brothers. Веб-интегратор. Аутсорсинг веб-разработки для бизнеса и digital-агентств.
  //script(defer type="text/javascript").
  //
  //    var globe = document.createElement('script');
  //    globe.type = 'text/javascript';
  //    globe.src = 'js/sphere-app.js';
  //    globe.defer = true;
  //
  //    var isMobile = window.innerWidth < 768;
  //    if (!isMobile) document.getElementsByTagName('head')[0].appendChild(globe);
  //
  //    window.addEventListener('resize', function(){
  //      if(isMobile && window.innerWidth >= 768) {
  //        isMobile = false;
  //        document.getElementsByTagName('head')[0].appendChild(globe);
  //      }
  //    })
  //

  script(defer src="js/sphere-app.js")
block content
  - var pageName = "index"
  include components/preloader/_preloader.pug
  include components/header/_header.pug
  .wrapper
    .main-content.js-main-content.index-content
      include components/introduction/_introduction.pug
      include components/partners/_partners.pug
      include components/services-main/_services-main
      include components/cases/_cases-index.pug
      include components/contacts/_contacts.pug
      include components/footer/_footer.pug
      include components/cookie/_cookie.pug
  .main-menu-holder
      .container
        .main-menu-box
          include components/main-menu/_main-menu.pug
  include components/cases/_cases-popup-index.pug
  include ./_yandex-api.pug
  
  
  
