
extends ./templates/template


block title 
  title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
  //- script(defer src='js/cases-ajax.js')
block content
  - var pageName = "articles"
  include components/preloader/_preloader.pug
  include components/header/_header.pug
  .wrapper
    .main-content.js-main-content
      include components/articles/_article.pug
      include components/up-button/_up-button.pug
      .container
        .article__block-slide-arrows 
          a(href="#").article__block-slide-arrows-item.slide-arrows-item-prev
            .article__block-slide-arrows-group
              span.articles__arrow
                +svg('arrow-right')
              p.article__block-slide-arrows-group-text Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком 
            span.article__block-slide-text Предыдущая статья
          a(href="#").article__block-slide-arrows-item.slide-arrows-item-next
            .article__block-slide-arrows-group
              p.article__block-slide-arrows-group-text Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
              span.articles__arrow
                +svg('arrow-right')
            span.article__block-slide-text Следующая статья
      include components/footer/_footer.pug
      include components/cookie/_cookie.pug
  .main-menu-holder
      .container
        .main-menu-box
          include components/main-menu/_main-menu.pug
  //- include components/cases/_cases-popup-projects.pug  