section.about-section
  .container
    .company-info
      .company-info__inner
        .company-info__left
          .about-title
            h1.title.about-title О компании
            .page-title__anchors-row
              .title.link--arrow.page-title__anchor
                a(href='#reviews').js-anchor.about-section__title Отзывы
                  .arrow-right.title__arrow.title__arrow--down.about-section__arrow
                    div.arrow-right__main
                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                      <defs>
                      <style>.cls-1{fill-rule:evenodd;}</style>
                      </defs>
                      <title>Untitled-1</title>
                      <g id="Trash" class="arrow-right__head arrow-right__part">
                      <g id="Logo-Copy-12">
                      <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                      <g id="Shape">
                      <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                      </g>
                      </g>
                      </g>
                      </g>
                      <g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part">
                      <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                      <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                      </g>
                      </g>
                      </g>
                      </g>
                      </svg>
                      div.arrow-right__fill-wrap
                        div.arrow-right__fill.title__arrow--down-fill
                          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                          <defs>
                          <style>.cls-1{fill-rule:evenodd;}</style>
                          </defs>
                          <title>Untitled-1</title>
                          <g id="Trash" class="arrow-right__head arrow-right__part">
                          <g id="Logo-Copy-12">
                          <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                          <g id="Shape">
                          <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                          </g>
                          </g>
                          </g>
                          </g>
                          <g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part">
                          <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                          <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                          </g>
                          </g>
                          </g>
                          </g>
                          </svg>
              .title.link--arrow.page-title__anchor
                a(href='#publications').js-anchor.about-section__title Публикации
                  .arrow-right.title__arrow.title__arrow--down.about-section__arrow
                    div.arrow-right__main
                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                      <defs>
                      <style>.cls-1{fill-rule:evenodd;}</style>
                      </defs>
                      <title>Untitled-1</title>
                      <g id="Trash" class="arrow-right__head arrow-right__part">
                      <g id="Logo-Copy-12">
                      <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                      <g id="Shape">
                      <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                      </g>
                      </g>
                      </g>
                      </g>
                      <g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part">
                      <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                      <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                      </g>
                      </g>
                      </g>
                      </g>
                      </svg>
                      div.arrow-right__fill-wrap
                        div.arrow-right__fill.title__arrow--down-fill
                          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                          <defs>
                          <style>.cls-1{fill-rule:evenodd;}</style>
                          </defs>
                          <title>Untitled-1</title>
                          <g id="Trash" class="arrow-right__head arrow-right__part">
                          <g id="Logo-Copy-12">
                          <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                          <g id="Shape">
                          <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                          </g>
                          </g>
                          </g>
                          </g>
                          <g id="Trash-2" data-name="Trash" class="arrow-right__axis arrow-right__part">
                          <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                          <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                          </g>
                          </g>
                          </g>
                          </g>
                          </svg>
              .title.link--arrow.page-title__anchor
                a(href='page-articles.html').about-section__title Статьи
          .about-section__row
            .about-section__descr
              p Hawking Bros. специализируется на аутсорсинге веб-разработки для бизнеса и digital-агентств. В число наших услуг входят frontend- и backend-разработка, QA, UX/UI-проектирование и аудит, веб-дизайн, техническая и дизайн-поддержка проектов. Отдельное направление —
                span.about-section__descr-red-text разработка и поддержка корпоративных порталов.
              <br>
              p За 6 лет работы мы собрали сильную команду и накопили опыт в разработке для ecommerce, медиа, IT, инвестиций, НКО и других сфер бизнеса. В числе клиентов: Лаборатория Касперского, Сантехника-Онлайн, Мегаплан, Hansa и др.
              <br>
              p В качестве аутсорс-продакшена мы работаем с проектами различной сложности. На проект мы выделяем персонального менеджера, собираем команду и выстраиваем порядок коммуникации с клиентом. При необходимости помогаем заказчику понять, какие бизнес-цели должен закрывать проект, и исходя из полученных сведений, планируем работу: такой подход экономит время и бюджет. Также мы можем помочь с выстраиванием работы внутреннего IT-отдела.
              <br>
              p
                span Как субподрядчик мы берем конкретный пул задач по проекту и реализуем его. Среди партнеров: MediaInstinct, Havas Digital, BBDO, AGIMA и другие ведущие рекламные агенства и digital-студии
              <br>
              p Ваш проект уникален, а поэтому мы не ограничиваемся одной методологией и комбинируем разные подходы в работе. Еще одно преимущество — масштабируемость. Если проект требует незапланированных ресурсов, то мы быстро подключим дополнительных специалистов из штата.
              <br>
              p
                span Посмотрите наши &nbsp;
                span.about-section__descr-red-text кейсы &nbsp;
                span и узнайте, в какие сроки и с какой командой мы запускали сайт высоконагруженного интернет-магазина, проекты для Лаборатории Касперского или сайт Александра Незлобина.
            .culture-info.company-info__points
              .culture-info__inner.career-section__inner
                .culture-info__item
                  .culture-info__item-inner
                    span.culture-info__text.culture-info__text--lg 56
                    span.culture-info__text Штатных специалистов
                .culture-info__item
                  .culture-info__item-inner
                    span.culture-info__text.culture-info__text--lg 400+
                    span.culture-info__text Реализованных партнерских проектов
                .culture-info__item
                  .culture-info__item-inner
                    span.culture-info__text.culture-info__text--lg 2000+
                    span.culture-info__text Часов разработки отгружаем ежемесячно
        .company-info__right
          .about-sibtitle
            h2.title.about-section__ratings Рейтинги и награды
          .achievements.about-section__achievements
            .achievements__inner
              .achievements__item
                a.achievement(href="https://www.facebook.com/hawkingbrothers/photos/a.946521168763976/2503821363033941/?type=3&theater" target="_blank")
                  .achievement__top
                    .achievement__icon.picture
                      img(src="assets/images/content/about/p1.svg", alt="").achievement__icon-img
                      span.achievement__icon-text 1
                    .achievement__value
                  .achievement__bottom
                    span.achievement__text место в конкурсе Р1
              .achievements__item
                a.achievement(href="https://tagline.ru/web-developers-integrators-rating/" target="_blank")
                  .achievement__top
                    .achievement__icon.picture
                      img(src="assets/images/content/about/tagline-label_2.svg", alt="").achievement__icon-img
                      span.achievement__icon-text 2
                    .achievement__value
                  .achievement__bottom
                    span.achievement__text место в России среди аутсорс-продакшнов
              .achievements__item
                a.achievement(href="https://ruward.ru/index-ruward/united-web-rating-2019/" target="_blank")
                  .achievement__top
                    .achievement__icon.picture
                      img(src="assets/images/content/about/Bitmap.svg", alt="").achievement__icon-img.achievement__icon-img--light
                      img(src="assets/images/content/about/Bitmap1.svg", alt="").achievement__icon-img.achievement__icon-img--dark
                      span.achievement__icon-text.achievement__icon-text_small ТОП-100
                    .achievement__value
                  .achievement__bottom
                    span.achievement__text в Едином рейтинге веб&#8209;студий 2019
              .achievements__item
                a.achievement(href="https://tagline.ru/web-developers-integrators-rating/" target="_blank")
                  .achievement__top
                    .achievement__icon.picture
                      img(src="assets/images/content/about/tagline-label_2.svg", alt="").achievement__icon-img
                      span.achievement__icon-text 63
                    .achievement__value
                  .achievement__bottom
                    span.achievement__text место в России среди веб-интеграторов
  #reviews
  include ../reviews/_reviews
  .container
    include ../about-publications/_about-publications.pug