.about-section {
  &__arrow{
    opacity: 0;
    transition: .4s all;
  }
  &__title{
    &:hover .about-section__arrow{
      opacity: 1;
    }
  }
  &__ratings{
    font-size: 36px;
    font-weight: 400;
  }
  padding: 0;
  padding-top: 25px;
  &:first-child {
    padding-top: 150px;
    @include media-breakpoint-up(tablet) {
      min-height: calc(100vh - 111px);
    }
    @include media-breakpoint-down(mobile) {
      padding-top: 130px;
      padding-bottom: 40px;
      min-height: calc(100vh - 131px);
    }
  }
  &__row {
    margin-top: 52px;
    @include media-breakpoint-down(mobile) {
      overflow: hidden;
      position: relative;
      margin-top: 30px;
    }
  }
  &__descr {
    line-height: 1.56;
    @include media-breakpoint-down(mobile) {
      line-height: 25px;
    }
    .is-dark & {
      color: $gray;
    }
    &-red-text{
      color: $red;
    }
  }
  &__achievements {
    margin-top: 35px;
  }
}

.about-title {
  font-size: 64px;
  font-weight: 400;
  margin-left: -2px;
  @include media-breakpoint-down(mobile) {
    font-size: 44px;
  }
}

.company-info {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(mobile) {
      display: block;
    }
    .browser-ie & {
      @include media-breakpoint-down(desktop) {
        display: block;
      }
    }
  }
  &__left {
    max-width: 850px;
    flex-basis: 70%;
    @include media-breakpoint-down(mobile) {
      padding-right: 0;
    }
  }
  &__right {
    max-width: 490px;
    padding-top: 50px;
    padding-left: 105px;
    flex-basis: 30%;
    @include media-breakpoint-down(tablet) {
      padding-left: 30px;
    }
    @include media-breakpoint-down(mobile) {
      padding-left: 0;
      padding-top: 60px;
    }
    .browser-ie & {
      @include media-breakpoint-down(desktop) {
        padding-left: 0;
        padding-bottom: 50px;
      }
    }
  }
  &__points {
    margin: 82px 0 34px;
    @include media-breakpoint-down(mobile) {
      margin-top: 39px;
    }
  }
}

.achievements {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
  }
  &__item {
    width: 42.2%;
    margin: 10px 12px 50px;
    @include media-breakpoint-down(tablet) {
      margin: 10px 10px 49px;
    }
    @include media-breakpoint-down(mobile) {
      margin: 10px 15px 30px;
    }
    &:nth-child(3) {
      margin-bottom: 0;
    } 
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}

.achievement {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  cursor: pointer;
  transform: translateZ(0);
  &:not(.--no-hover) {
    @include hover() {
      opacity: 0.8;
    }
  }

  &__text {
    line-height: 1.56;
    @include media-breakpoint-down(mobile) {
      font-size: 14px;
      line-height: 1.5;
    }
    .is-dark & {
      color: $gray;
    }
  }
  &__icon {
    background-image: url('../assets/images/content/about/medal-2017-red.svg');
    width: 98.5px;
    height: 89px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(mobile) {
      width: 89.5px;
      height: 80px;
    }
    .is-dark & {
      background-image: url('../assets/images/content/about/medal-2017-red-dark.svg');
    }
    &-img {
      position: absolute;
      width: 35px;
      height: 20px;
      top: 78px;
      left: 32px;
      @include media-breakpoint-down(mobile) {
        width: 30px;
        top: 69px;
        left: 30px;
      }
      &--light {
        .is-dark & {
          display: none;
        }
      }
      &--dark {
        display: none;
        .is-dark & {
          display: block;
        }
      }
    }
    &-text {
      font-size: 54px;
      font-weight: 300;
      @include media-breakpoint-down(mobile) {
        font-size: 44px;
      }
      .is-dark & {
        stroke: $white;
        fill: $white;
      }
      &--svg {
        display: block;
        font-size: 30px;
        svg {
          display: block;
          transform: translateZ(0);
        }
      }
      &--img {
         width: 19px;
         height: 21px;
      }
      &_small {
        font-size: 22px;
        @include media-breakpoint-down(mobile) {
          font-size: 20px;
        }
      }
    }
  }
  &__bottom {
    text-align: center;
    margin-top: 15px;
  }
}


.career-content .section-title{
  margin-left: -1px;
}