.corp-portals-info
  .container
    .corp-portals-info__wrapper
      p.corp-portals-info__annotation Внедрение корпоративного портала поможет вашей компании выйти на новый уровень коммуникации между сотрудниками.
      p.corp-portals-info__text В любое время, в любом месте вы сможете удаленно контролировать бизнес-процессы, руководители отделов следить за выполнением задач, сотрудники общаться между собой, а все вместе вы будете непрерывно участвовать в жизни компании. 