.corp-portals-info {
    padding-top: 108px;
    padding-bottom: 75px;
    @include media-breakpoint-down(mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__wrapper {
        max-width: 850px;
        width: 100%;
    }
    &__annotation {
        margin-bottom: 50px;
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        line-height: 36px;
        @include media-breakpoint-down(mobile) {
            font-size: 20px;
        }
    }
    &__text {
        font-family: 'Roboto Condensed';
        line-height: 25px;
    }
}
