section#corp-portals-consultation.corp-portals-consultation
  .container
    h2.title.section-title.section-title--corp-portals Оставьте заявку для консультации специалиста <br>и подбора индивидуального решения
    .corp-portals-consultation__form-wrapper
      .contact-form__succes-message.js-form-succes
        .contact-form__succes-inner
          span.title Форма успешно отправлена.
      form(name="sendmail").corp-portals-consultation__form.contact-form.consultation-form.js-consultation-form
        .consultation-form__fields
          .contact-form__row.contact-form__row--name
            input.contact-form__input.contact-form__field.js-input(type="text" name="name" id="name-consultation" required).js-input-name
            .contact-form__fill-line
            label(for="name-consultation").contact-form__label.js-form-label Имя
          .contact-form__row
            label(for="phone-consultation").contact-form__label.js-form-label Телефон
            input.contact-form__input.contact-form__field.js-input(type="tel" name="phone" id="phone-consultation" required).js-phone.customPhone
            .contact-form__fill-line
          .contact-form__row
            label(for="email-consultation").contact-form__label.js-form-label Почта
            input.contact-form__input.contact-form__field.js-input(type="email" name="email" id="email-consultation" required).customEmail
            .contact-form__fill-line
          .contact-form__row.contact-form__row--button
            button(type="submit").contact-form__input.button Отправить заявку
        .contact-form__row.contact-form__row--terms
          span.contact-form__terms Нажимая "Отправить" Вы соглашаетесь с&nbsp;
          a(href="sogl.pdf" target="_blank").link--privacy Политикой обработки персональных данных
        .form-error-container
        input(type="text" name="person").contact-form__person.js-input-person