section.corp-portals-works.partners
  .container
    h2.title.section-title.section-title--corp-portals Мы участвовали в разработке корпоративных порталов для
    .partners-slider
      .swiper-container.js-corp-portals-partners-swiper
        .partners__inner.swiper-wrapper
          .partners__item.swiper-slide
            a(href="javascript:;" target="_blank").partner-logo.partner-logo--abbott
                img.partners__img.partners__img--color.partners__img--dark(src="assets/images/content/corp-portals/abbott-dark.png" alt="Abbott")
                img.partners__img.partners__img--color.partners__img--light(src="assets/images/content/corp-portals/abbott-light.png" alt="Abbott")
                img.partners__img.partners__img--gray(src="assets/images/content/corp-portals/abbott.png" alt="Abbott")
          .partners__item.swiper-slide
            a(href="javascript:;" target="_blank").partner-logo.partner-logo--unilever
                img.partners__img.partners__img--color.partners__img--dark(src="assets/images/content/corp-portals/unilever-dark.png" alt="Unilever")
                img.partners__img.partners__img--color.partners__img--light(src="assets/images/content/corp-portals/unilever-dark.png" alt="Unilever")
                img.partners__img.partners__img--gray(src="assets/images/content/corp-portals/unilever.png" alt="Unilever")
          .partners__item.swiper-slide
            a(href="javascript:;" target="_blank").partner-logo.partner-logo--nlmk
                svg(width="149" height="80" viewBox="0 0 149 80" xmlns="http://www.w3.org/2000/svg")
                    path(d="M21.064 26.622h7.43v9.107h7.93v-9.107h7.43v24.882h-7.43v-9.853h-7.93v9.853h-7.431V26.622zm49.306 0v24.882h-7.18V32.52h-4.703v7.142c0 3.209-.25 7.141-2.228 9.355-1.976 2.464-5.702 3.21-9.906 2.464v-6.17c3.954.747 4.954-.745 4.954-5.671V26.577H70.37v.045zm6.204 0h7.43l4.204 14.78 4.203-14.78h7.43l3.477 24.882h-6.93l-1.727-13.31-3.978 13.31H85.73l-3.953-13.31-1.727 13.31h-6.93l3.453-24.883v.001zm29.47 0h7.43v10.102l7.18-10.102h8.18l-9.406 12.316 9.658 12.566h-8.908l-6.68-10.102v10.102h-7.43V26.622h-.024zM74.074 0C29.494 0 0 16.023 0 39.662c0 23.412 29.471 39.661 74.074 39.661 44.83 0 74.074-16.271 74.074-39.661C148.148 16.023 118.927 0 74.074 0zm0 75.64c-41.877 0-69.848-14.532-69.848-35.978 0-21.673 27.994-35.978 69.848-35.978 42.104 0 69.87 14.283 69.87 35.978 0 21.446-27.743 35.978-69.87 35.978zm0-68.499c-39.377 0-65.644 13.063-65.644 32.52 0 19.458 26.267 32.521 65.644 32.521 39.377 0 65.644-13.063 65.644-32.52.023-19.458-26.244-32.52-65.644-32.52zm0 64.318c-38.9 0-64.893-12.813-64.893-31.775 0-18.96 26.015-31.774 64.893-31.774s64.894 12.813 64.894 31.774c.023 18.962-25.994 31.776-64.894 31.776v-.001z")
          .partners__item.swiper-slide
            a(href="javascript:;" target="_blank").partner-logo.partner-logo--r-pharm
                img.partners__img.partners__img--color.partners__img--dark(src="assets/images/content/corp-portals/r-pharm-dark.png" alt="Р-Фарм Инновационные технологии здоровья")
                img.partners__img.partners__img--color.partners__img--light(src="assets/images/content/corp-portals/r-pharm-dark.png" alt="Р-Фарм Инновационные технологии здоровья")
                img.partners__img.partners__img--gray(src="assets/images/content/corp-portals/r-pharm.png" alt="Р-Фарм Инновационные технологии здоровья")
              
        .swiper-scrollbar