.corp-portals-works {
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-down(mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    & .partners {
        @include media-breakpoint-up(tablet) {
            padding-top: 61px;
        }

        &__title {
            flex-wrap: wrap;
            margin: 0 -20px;
        }

        &__item {
            width: calc(25% - 40px);
            margin: 40px 20px;
            max-height: 160px;
            max-width: 335px;
            display: block;
            
            height: auto;
            margin-right: auto;
            position: inherit;

            @include media-breakpoint-down(mobile) {
                margin: 0;
                width: unset;
                height: auto;
            }
        }

        &__img {
            left: 0;
            top: -15px;
            right: 0;
            bottom: 0;
            transform: translateZ(0);
        }

        &-slider {
            margin-top: 65px;
            margin-bottom: -24px;
            @include media-breakpoint-down(mobile) {
                margin-top: 100px;
                margin-bottom: 0;
            }
        }
        &__img {
            top: 0;
            margin: auto;
        }
    }
    & .partner-logo {
        width: 60%;

        @include media-breakpoint-down(tabletlg) {
            width: 80%;
        }

        @include media-breakpoint-down(tablet) {
            width: auto;
            height: auto;
            max-width: 240px;
            text-align: auto;
        }

        @include media-breakpoint-down(mobile) {
            width: auto;
            height: auto;
        }

        @include media-breakpoint-up(desktop) {
            &--abbott {
                transform: translate(-15px, -5px);
            }
            &--unilever {
                transform: translate(-10px, -5px);
            }
            &--nlmk {
                transform: translate(-5px, -2px);
            }
            &--r-pharm {
                transform: translateY(-1px);
            }
        }
        @include media-breakpoint-up(tablet) {
            width: 100%;
        }

        svg {
            margin: auto;
            position: inherit;
            top: auto;
            left: auto;
            transform: none;
            width: auto;
        
        }
    }

    .swiper-scrollbar {
        height: 2px !important;
    }
}