.page-section.services#services-up-team
  .container
    h2.title.section-title.services-up__title Каких специалистов мы предоставляем на аутстафф и ритейнер
    .services__inner
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Backend
              .service-card__icon
                +svg('icon-development')
            span.service-card__people 30 разработчиков
            .service-card__middle
              p.service-card__descr Разрабатываем надежный бэкенд с использованием современных CMS и Framework. Пишем собственные API и проводим интеграции с любыми внешними системами. Проектируем базы данных.
            .service-card__bottom
              ul.technologies
                li.technologies__item PHP7
                li.technologies__item Laravel
                li.technologies__item Symfony
                li.technologies__item Bitrix
                li.technologies__item Elasticsearch
                li.technologies__item Sphinx
                li.technologies__item XML
                li.technologies__item MySQL
                li.technologies__item RabbitMQ
                li.technologies__item Apache
                li.technologies__item Kafka
                li.technologies__item PostgreSQL
                li.technologies__item Docker

      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Frontend
              .service-card__icon
                +svg('icon-front')
            span.service-card__people 25 разработчиков
            .service-card__middle
              p.service-card__descr Работаем как со статичной версткой, так и современными JS Framework. Создаем SPA. Делаем сложные анимации с оптимальной скоростью загрузки. Адаптируем сайты под различные устройства и разрешения экранов.
            .service-card__bottom
              ul.technologies
                li.technologies__item HTML5 + CSS3
                li.technologies__item Sass
                li.technologies__item React
                li.technologies__item Vue
                li.technologies__item Redux
                li.technologies__item Webpack
                li.technologies__item Gulp
                li.technologies__item Canvas
                li.technologies__item WebGL
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title QA
              .service-card__icon.service-card__icon--qa
                +svg('icon-webdesign')
            span.service-card__people 20 специалистов
            .service-card__middle
              p.service-card__descr Тестируем разработанные системы. Улучшаем работу отделов Backend и Frontend. Держим баланс между здоровым перфекционизмом и интересами бизнеса клиента. Составляем прозрачные тест-кейсы и понятные баг-листы.
            .service-card__bottom
              ul.technologies
                li.technologies__item Functional
                li.technologies__item Performance
                li.technologies__item  Regression
                li.technologies__item  Smoke
                li.technologies__item Load
                li.technologies__item  Cross platform