.cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 299;
  background-color: $white;
  border: 1px solid rgba($black, 0.2);
  display: none;

  .is-dark & {
    background-color: $black;
    border-color: rgba($white, 0.2);
  }
  &__inner {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(mobile) {
      display: block;
      padding: 20px 0 25px;
    }
  }
  &__text {
    display: block;
    width: 850px;
    max-width: 100%;
    font-size: 16px;
    line-height: 25px;
    margin-right: 50px;
    .is-dark & {
      color: $gray;
    }
    a {
      @extend .link--privacy
    }
  }
  &__button {
    flex-shrink: 0;
    min-width: 240px;
    text-align: center;
    border-width: 2px;
    line-height: 50px - 2px;
    padding-top: 0;
    padding-bottom: 0;
    @include hover() {
      border-color: $lblack;
    }
    .is-dark & {
      @include hover() {
        border-color: $light-gray;
      }
    }
    
    @include media-breakpoint-down(mobile) {
      display: block;
      width: 100%;
      margin-top: 20px;
      max-width: 374px;
    }
  }
}