.corp-life {
  padding: 41px 0 0;
  @include media-breakpoint-down(mobile) {
    padding-bottom: 10px;
  }
}

.life-gallery {
  position: relative;
  overflow: hidden;
  margin: 0 -10px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(mobile) {
      margin: auto;
      padding-bottom: 20px;
      flex-wrap: nowrap;
    }
  }
  &__item {
    margin: 10px;
    width: calc(33.3% - 20px);
    @include media-breakpoint-down(mobile) {
      
      flex-shrink: 0;
      margin: auto;
      
    }
    &--wide {
      width: calc(50% - 20px);
      @include media-breakpoint-down(mobile) {
        width: calc(33.3% - 20px);
      }
    }
  }
  &__image {
    padding-top: 82.12%;
    &--wide {
      padding-top: 55.39%;
    }
    @include media-breakpoint-down(mobile) {
      min-height: 350px;
    }
  }
}
