include ../_mixins.pug

doctype html
html(lang="ru")
  head     
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="Мы специализируемся на создании и поддержке веб-проектов для бизнеса, digital-студий и агентств")
    meta(name="keywords" content="веб-интегратор, техническая поддержка, аутсорс, аутсорсинг веб-разработки, digital-продакшн, субподряд, создание сайтов")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://hawkingbrothers.com/")
    meta(property = "og:title" content="Hawking Brothers")
    meta(property = "twitter:title" content="Hawking Brothers")
    meta(property = "og:description" content="Аутсорсинг веб-разработки для бизнеса и digital-агентств")
    meta(property = "twitter:description" content="Аутсорсинг веб-разработки для бизнеса и digital-агентств")
    meta(property = "og:keywords" content="веб-интегратор, техническая поддержка, аутсорс, аутсорсинг веб-разработки, digital-продакшн, субподряд, создание сайтов")
    meta(property = "og:site_name" content="Hawking Brothers")
    meta(property = "og:image" content="https://hawkingbrothers.com/assets/images/og/og-image.png")
    meta(property = "og:image:widht" content="1200")
    meta(property = "og:image:height" content="630")
    meta(property = "vk:image" content="https://hawkingbrothers.com/assets/images/og/og-image-vk.png")
    meta(name="twitter:card" content="summary_large_image")
    meta(name = "twitter:image" content="https://hawkingbrothers.com/assets/images/og/og-image.png")
    link(rel="shortcut icon", href="./assets/images/favicon.png", type="image/x-icon")
    include ../_scripts.pug
    block title
    include ../_styles.pug
  body.loading
    include ../_svg.pug
    block content
    include ../_yandex-metrica.pug