include ../_mixins.pug

doctype html
html(lang="ru")
  head     
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="Мы специализируемся на создании и поддержке веб-проектов для бизнеса, digital-студий и агентств")
    meta(name="keywords" content="веб-интегратор, техническая поддержка, аутсорс, аутсорсинг веб-разработки, digital-продакшн, субподряд, создание сайтов")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://hawkingbrothers.com/")
    meta(property = "og:title" content="Hawking Brothers")
    meta(property = "og:image" content)
    meta(property = "og:description" content="Аутсорсинг веб-разработки для бизнеса и digital-агентств")
    meta(property = "og:keywords" content="веб-интегратор, техническая поддержка, аутсорс, аутсорсинг веб-разработки, digital-продакшн, субподряд, создание сайтов")
    meta(property = "og:site_name" content="Hawking Brothers")
    title Hawking Brothers. Веб-интегратор. Аутсорсинг веб-разработки для бизнеса и digital-агентств.
    block title
    include ../_styles.pug
  body
    include ../_svg.pug
    include ../components/header/_header.pug
    block content
    .main-menu-holder
    .container
      .main-menu-box
        include ../components/main-menu/_main-menu.pug
    include ../_scripts.pug
