.partners {
  padding-top: 61px;
  @include media-breakpoint-down(mobile) {
    padding-top: 18px;
  }
  @include media-breakpoint-up(tablet) {
    padding-top: 65px;
  }
  &__title {
    margin-bottom: 60px;
    @include media-breakpoint-down(mobile) {
      
    }
  }
  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .browser-ie & {
      align-items: center;
    }
    @include media-breakpoint-down(mobile) {
      margin: auto;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 60px;
    margin-right: 10px;
    position: relative;

    @include media-breakpoint-down(mobile) {
      width: 140px;
      height: 42px;
    }

    &--mediainstinct {
      width: 200px;
    }
  }
  &__img {
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: opacity 0.3s;
    transform: translate3d(-50%,-50%,0);
    &--color {
      opacity: 0;
    }
    &--gray {
      opacity: 1;
    }
  }
}

.partner-logo {
  position: relative;
  display: block;
  text-align: center;
  width: 200px;
  height: 60px;

  @include media-breakpoint-down(mobile) {
    width: 140px;
    height: 42px;
  }

  &__img {
    width: 100%;
    &--black {
      position: absolute;
      left: 0;
      right: 0;
      opacity: 0;
    }
  }
  &--havas {
    svg {
      margin: 0 auto;
    }
  }
  svg {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  @include hover() {
    
  }
}

.partner-logo {
  fill: $gray;

  svg {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  svg *:not(g) {
    -webkit-transition: fill .3s ease, stroke .3s ease;
    -o-transition: fill .3s ease, stroke .3s ease;
    transition: fill .3s ease, stroke .3s ease;
  }

  &--deltaclick {
    .st1 {
      fill: #fff;
      .is-dark & {
        fill: $black;
      }
    }
  }
  &--agima {
    stroke: $gray;
    fill: none;

    .agima--text {        
      fill: $gray;
      stroke: $gray;
    }
  }
  &--nlmk {
    svg {
      margin-right: auto;
      margin-left: auto;
    }
  }
  @include hover() {
    fill: $black;
    .is-dark & {
      fill: $white;
    }
    &.partner-logo--bfkh {
      fill: #763F97;
    }
    &.partner-logo--kaspersky {
      fill: #009F85;
    }
    &.partner-logo--iteco{
      fill: #303030;
    }
    &.partner-logo--tbm{
      fill: #008B99;
    }
    &.partner-logo--slava{
      fill: #303030;
    }
    &.partner-logo--nlmk{
      fill: #004E94;
    }
    &.partner-logo--mint{
      fill: #117C32;
    }
    &.partner-logo--jet{
      .st0{
        fill: #6DC0FC;
      }
      .st1{
        fill: #0D1633;
      }
    }
    &.partner-logo--sber{
      fill: #21A038;
      .st0{
        fill: url(#paint0_linear);
      }
      .st1{
        fill: url(#paint1_linear);
      }
      .st2{
        fill: url(#paint2_linear);
      }
      .st3{
        fill: url(#paint3_linear);
      }
      .st4{
        fill: url(#paint4_linear);
      }
      .st5{
        fill: url(#paint5_linear);
      }

    }
    &.partner-logo--belfan{
      fill: #E3B96E;
    }
    &.partner-logo--megaplan {
      fill: #202020;
      .is-dark & {
        fill: $white;
      }
    }
    &.partner-logo--deltaclick {
      .st0 {
        fill: #9cffd1;
      }
      .st2 {
        fill: #202020;
        .is-dark & {
          fill: $white;
        }
      }
    }
    &.partner-logo--santehnika {
      .santehnika--blue {
        fill: #0497D5;
      }
      .santehnika--green {
        fill: #94C940;
      }
      .santehnika--orange {
        fill: #F68A46;
      }
    }
    &.partner-logo--nlmk {
      fill: #0D53A4;
    }
    &.partner-logo--seekmed {
      .agima--rect {
        fill: #202020;
        .is-dark & {
          fill: white;
        }
      }
    }
    &.partner-logo--agima {
      stroke: $black;
      fill: white;

      .is-dark & {
        fill: $black;
        stroke: white;
      }

      .agima--rect {
        fill: #202020;
        .is-dark & {
          fill: white;
        }
      }

      .agima--text {        
        fill: #202020;
        stroke: #202020;
        .is-dark & {
          fill: white;
          stroke: white;
        }
      }
    }
    &.partner-logo--seekmed {
      fill: #202020;

      .is-dark & {
        fill: white;
      }

      .seekmed--yin {
        fill: #FD5C16;
      }

      .seekmed--yang {
        fill: #3BD77B;
      }
    }
    &.partner-logo--havas {
      
      .havas--first-word {
        fill: #fb0035;
      }
    }
    
    .partners__img--gray {
      opacity: 0;
    }
    .partners__img--color {
      opacity: 1;
    }
    .is-dark &.partner-logo--agima {
      stroke: $white;
    }
  }
}

.partners__img {
  &--light {
    display: none;
    .is-dark & {
      display: block;
    }
  }
  &--dark {
    display: block;
    .is-dark & {
      display: none;
    }
  }
}

/*

deltaclick 
st0 - border #9cffd1;
st1 - cursor
st2 - text



kaspersy - #006D5C

santehnika 
blue - #0094CF
green - #9EC200
orange - #FF8000
black - #210803



*/

.swiper-scrollbar {
  height: 0 !important;
  background: rgba(#000, 0.2);
  .is-dark & {
    
    background: rgba($white, 0.2);
  }
}

.swiper-container-horizontal>.swiper-scrollbar {
  bottom: -20px;
}

.swiper-scrollbar-drag {
  background: $red;
}

.swiper-container {
  overflow: visible;
  .school-gallery & {
    overflow: hidden;
  }
}

.swiper-scrollbar {
  display: none;
  @include media-breakpoint-down(mobile) {
    display: block;
  }
}



_:-ms-fullscreen, :root  .partners-slider .partners__item{
  margin: 0;
}
_:-ms-fullscreen, :root  .partners-slider .partners__inner{
  margin: 0;
  justify-content: space-between;
}