footer.footer
  .container
    .footer__inner
      .footer__row
        .footer__logo
          a(href="/").logo
            .logo__pic
              +svg('logo')
      .footer__row
        a(href="sogl.pdf" target="_blank").footer__privacy.link--privacy Политика конфиденциальности
        span.footer__copyright © 2014 - 2019 Hawking Brothers