.footer {
  padding-bottom: 12px;
  @include media-breakpoint-down(mobile) {
    min-height: 100px;
    padding-bottom: 0px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    @include media-breakpoint-down(mobile){
      padding-bottom: 29px;
    }
    border-top:  1px solid rgba(0,0,0,0.2);
    .is-dark &{
      border-color: rgba(255, 255, 255, 0.2);
    }
    @include media-breakpoint-only(tablet) {
      margin: 0 -20px;
    }
    @include media-breakpoint-up(tablet){

    }
    @include media-breakpoint-down(mobile) {

      display: block;
      position: relative;
    }
  }
  &__row {
    display: flex;
    @include media-breakpoint-only(tablet) {
      width: 50%;
      margin: 0 20px;
    }
    @include media-breakpoint-down(mobile) {
      display: block;
    }
    &:last-child {
      font-family: 'Oswald', sans-serif;
    }
  }
  &__logo {
    @include media-breakpoint-down(mobile) {
      // display: none;
      margin-bottom: 30px;
    }
  }
  &__partner {
    max-width: 88px;
    max-height: 40px;
    margin-left: 100px;
    @include media-breakpoint-down(mobile) {
      margin-left: 0;
      position: absolute;
      right: -1px;
      top: 70%;
    }
    @include media-breakpoint-down(min) {
      max-width: 60px;
      top: 85%;
    }
    &-img {
      width: 100%;
      &--default {
        display: block;
        .is-dark & {
          display: none;
        }
      }
      &--dark {
        display: none;
        .is-dark & {
          display: block;
        }
      }
    }
  }
  &__privacy {
    margin-right: 100px;
    max-height: 25px;
    @include media-breakpoint-down(tabletlg) {
      margin-right: 20px;
    }
    @include media-breakpoint-down(mobile) {
      margin-right: 0;
    }
  }
  &__copyright {
    @include media-breakpoint-down(mobile) {
      display: block;
      margin-top: 23px;
    }
    
  }
}

.picture {
  position: relative;
  background-size: 0px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: inherit;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}