section.contacts.contacts--corp-portals#contacts
  .container
    h2.title.section-title.section-title--corp-portals Остались вопросы?
    p.contacts__subtitle-corp Оставьте ваши контакты и мы с радостью на них ответим 
    .contacts__inner
      .contacts__form-holder.js-form-holder
        div.contacts__form-wrap
          .contact-form__succes-message.js-form-succes
            .contact-form__succes-inner
              span.title Форма успешно отправлена.
          form(name="sendmail").contact-form.js-contact-form
            .contact-form__row
              .contact-form__close.js-close-contact-form
            .contact-form__row.contact-form__row--name
              input.contact-form__input.contact-form__field.js-input(type="text" name="name" id="name" required).js-input-name
              .contact-form__fill-line
              label(for="name").contact-form__label.js-form-label Имя
            .contact-form__row
              label(for="phone").contact-form__label.js-form-label Телефон
              input.contact-form__input.contact-form__field.js-input(type="tel" name="phone" id="phone" required).js-phone.customPhone
              .contact-form__fill-line
            .contact-form__row
              label(for="email").contact-form__label.js-form-label Почта
              input.contact-form__input.contact-form__field.js-input(type="email" name="email" id="email" required).customEmail
              .contact-form__fill-line
            .contact-form__row.contact-form__row--message
              label(for="message").contact-form__label.js-form-label Вопрос
              textarea(name="message" id="message").contact-form__input.contact-form__field.contact-form__input--textarea.contact-form__input--textarea_scroll.js-input
                
              .contact-form__fill-line
            .contact-form__row.contact-form__row--button
              button(type="submit").contact-form__input.button Отправить заявку
            .contact-form__row.contact-form__row--terms
              span.contact-form__terms Нажимая "Отправить" Вы соглашаетесь с&nbsp;
              a(href="sogl.pdf" target="_blank").link--privacy Политикой обработки персональных данных
            .form-error-container
            input(type="text" name="person").contact-form__person.js-input-person
      .contacts__map-holder.js-map
        .map.contacts__map
          .map__close.js-close-map
            +svg('cross')
        .contacts__map-overlay
          .contact-info
            .contact-info__row
              span.title.contact-info__title Адрес
              span.contact-info__text г. Владимир , ул. Мира 61а, к. 3, оф. 363
              span.contact-info__link.link--underlined.js-open-map.link--privacy Посмотреть на карте
            .contact-info__row
              span.title.contact-info__title Email
              a(href="mailto:hello@hawkingbrothers.com").contact-info__link.link--privacy hello@hawkingbrothers.com
            .contact-info__row
              span.title.contact-info__title Телефон
              a(href="tel:+79036454125").contact-info__link.contact-info__phone.link--privacy +7 903 645-41-25 
            .contact-info__row
              span.title.contact-info__title Соцсети
              a(href="https://www.facebook.com/hawkingbrothers/" target="_blank").contact-info__link.link--privacy Facebook
            .contact-info__row.contact-info__row--write-us
              .button.contact-info__button.js-open-contact-form Написать нам