section.career-section.school
  .container
    h2.title.section-title Обучаем востребованным digital-профессиям
    .career-section__inner
      .career-section__row
        .career-section__descr
          p Hawking School – это первые курсы дополнительного образования во Владимире, где готовят специалистов в области digital-технологий. Профессии будущего доступны теперь и в нашем городе!
      .career-section__row.school__row
        .career-section__descr
          p Hawking School – это команда профессионалов, влюбленных в digital. В нашей школе преподают эксперты ведущих интернет-компаний региона с опытом работы более 5 лет.
    .school-gallery.school__row
      .swiper-container.js-school-swiper
        .school-gallery__inner.swiper-wrapper
          .school-gallery__item.swiper-slide
            .school-gallery__image.picture(data-src="assets/images/content/career/school1.jpg").js-lazy
          .school-gallery__item.picture.swiper-slide
            .school-gallery__image.picture(data-src="assets/images/content/career/school2.jpg").js-lazy
          .school-gallery__item.picture.swiper-slide
            .school-gallery__image.picture(data-src="assets/images/content/career/school3.jpg").js-lazy
    .swiper-scrollbar.js-school-scrollbar