.corp-portals-features {
    padding-top: 75px;
    padding-bottom: 75px;
    @include media-breakpoint-down(mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 70px;
        margin-bottom: -85px;
        @include media-breakpoint-down(mobile) {
            margin-top: 50px;
            margin-bottom: -50px;
        }
    }
    &__item {
        max-width: calc(25% - 75px);
        width: 100%;
        margin-right: 80px;
        margin-bottom: 80px;
        @include media-breakpoint-down(tablet) {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }
        @include media-breakpoint-down(tablet) {
            max-width: calc(50% - 25px);
            margin-right: 50px;
            &:nth-child(2n + 2) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-down(mobile) {
            max-width: 100%;
            margin-right: 0;
        }
        &:nth-child(4n + 4) {
            margin-right: 0;
        }
    }
    &__icon {
        display: inline-flex;
        margin-bottom: 30px;
        font-size: 64px;
        @include media-breakpoint-down(tablet) {
            justify-content: center;
            min-width: 75px;
            margin-right: 30px;
            margin-bottom: 0;
            font-size: 60px;
        }
    }
    &__name {
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        @include media-breakpoint-down(mobile) {
            font-size: 18px;
        }
        & br {
            @include media-breakpoint-down(mobile) {
                display: none;
            }
        }
    }
}