.introduction {
  padding-top: 110px;
  @include media-breakpoint-down(mobile) {
    padding: 130px 0 65px;
    // padding-bottom: 97px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include media-breakpoint-down(desktop) {
      display: block;
    }
  }
  &__title-box {
    @include media-breakpoint-down(desktop) {
      position: absolute;
      left: 0;
      top: 27%;
    }
    @include media-breakpoint-down(mobile) {
      position: static;
    }
  }
  &__canvas {
    margin-right: 43px;
    @include media-breakpoint-down(mobile) {
      display: none;
    }
  }
  &--corp-portals {
    @include media-breakpoint-down(mobile) {
      padding-bottom: 25px;
    }
    & .introduction {
      &__inner {
        height: 520px;
        @include media-breakpoint-down(mobile) {
          height: auto;
        }
      }
      &__corp-portals-button {
        display: block;
        max-width: 240px;
        width: 100%;
        margin-top: 50px;
        text-align: center;
      }
      &__canvas {
        position: absolute;
        right: 20px;
        top: 0;
        width: 520px;
        height: 520px;
        background: url(/assets/images/triangle.png) no-repeat center/cover;
        @include media-breakpoint-down(desktop) {
          right: 0;
          margin-right: 0;
        }
      }
    }
  }
}

.page-title {
  &__row {
      color: $red;
      font-size: 64px;
      font-weight: 400;
      @include media-breakpoint-down(mobile) {
        font-size: 34px;
      }
    //&:last-child {
    //  font-size: 22px;
    //  font-weight: 400;
    //  color: #303030;
    //  margin-top: 64px;
    //  @include media-breakpoint-down(mobile) {
    //    font-size: 18px;
    //  }
    //}
  }
  &--corp-portals {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    & .page-title__row {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      color: $lblack;
      .is-dark & {
        color: $white;
      }
    }
  }
}

.sphere-holder {
  @include media-breakpoint-down(desktoplg) {
    margin: 0 auto;
    width: 370px;
    height: 370px;
  }
  @include media-breakpoint-down(mobile) {
    width: 340px;
    height: 340px;
  }
  @include media-breakpoint-down(min) {
    width: 290px;
    height: 290px;
  }
}

.sphere {
  border-radius: 50%;
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}


// Sphere

.app {
  width: 0px;
  height: 0px;
  margin: 0;
}

.triangle {
  position: relative;
  width: 305px;
  height: 94px;
  @include media-breakpoint-down(mobile) {
    height: 65px;
  }
  &__carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    -ms-transform-style: none;
    transform: translateZ(-40px) rotateX(0deg);
    -ms-transform: none;
    transition: transform 1.5s;
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $red;
    backface-visibility: hidden;
    &--1 {
      transform: rotateX(0deg) translateZ(40px);
    }
    &--2 {
      transform: rotateX(-120deg) translateZ(40px);
    }
    &--3 {
      transform: rotateX(-240deg) translateZ(40px);
    }
  }
}

.browser-ie {
  & .triangle__text {
    transform: none;
    &--2 {
      opacity: 0;
    }
    &--3 {
      opacity: 0;
    }
  }
}

.page-title{
  &__anchors-row{
    display: flex;
    @include media-breakpoint-down(mobile) {
      flex-wrap:wrap;
    }

  }
  &__cases{
      color: $red;
      font-size: 64px;
      font-weight: 400;
      @include media-breakpoint-down(mobile) {
        font-size: 44px;
      }
  }
  &__desc{
    color: #303030;
    max-width: 850px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 25px;
    margin: 50px 0 0;
    .is-dark &{
      color: #909090;
    }
    & p{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__anchor{
    color: #303030;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    font-size: 22px;
    @media screen and (max-width: 425px){
      max-width: 342px;
      &:nth-child(3) {
        margin-top: 25px;
      }
    }
    &--main{
      margin-top: 64px;
      @include media-breakpoint-down(mobile){
        margin-top: 32px;
      }
    }
    .page-title__anchors-row &:nth-child(1),
    .page-title__anchors-row &:nth-child(2){
      margin-right: 64px;
      @include media-breakpoint-down(mobile){
        margin-right: 32px;
      }
    }
  }
}