section.career-section.culture
  .container
    h2.title.section-title Корпоративная культура
    .culture__inner
      .culture-video
        iframe(src="https://www.youtube.com/embed/mT4motmrZzQ?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      .career-section__row.culture__row
        .career-section__descr
          p Мы ищем разработчика, которому интересно реализовывать и развивать сложные проекты, интегрированные в распределенную инфраструктуру крупного eCommerce. Наши проекты – это работа с высокими нагрузками, кластерной архитектурой, и многоуровневыми интеграциями, общение с командами со стороны клиента и других IT-партнеров. Мы ищем того, кто будет смотреть на проект широко и принимать участие в принятии ключевых решений.
        .culture__points
          .culture-info
            .culture-info__inner
              .culture-info__item
                .culture-info__item-inner
                  span.culture-info__text.culture-info__text--lg 28
                  span.culture-info__text сотрудников в штате
              .culture-info__item
                .culture-info__item-inner
                  span.culture-info__text.culture-info__text--lg 25
                  span.culture-info__text средний возраст в компании
              .culture-info__item
                .culture-info__item-inner
                  span.culture-info__text.culture-info__text--lg NDA
                  span.culture-info__text соблюдаем
              .culture-info__item
                .culture-info__item-inner
                  span.culture-info__text.culture-info__text--lg SLA
                  span.culture-info__text умеем
    .culture__image
      .culture-picture.picture(data-src="assets/images/content/career/culture.jpg").js-lazy