.culture {
  padding: 55px 0;
  @include media-breakpoint-down(mobile) {
    padding-bottom: 17px;
    padding-top: 24px;
  }
  &__text {
    margin-top: 30px;
  }
  &__inner {
    max-width: 850px;
  }
  &__row {
    margin-top: 35px;
  }
  &__points {
    margin-top: 80px;
    @include media-breakpoint-down(mobile) {
      margin-top: 46px;
    }
  }
  &__image {
    margin-top: 110px;
    @include media-breakpoint-down(mobile) {
      margin-top: 38px;

    }
  }
}

.culture-info {
  &__inner {
    display: flex;
    @include media-breakpoint-down(tablet) {
      flex-wrap: wrap;
    }
    @include media-breakpoint-down(mobile) {

    }
  }
  &__text {
    display: block;
    text-align: left;
    &:last-child {
      line-height: 1.56;
    }
    .is-dark & {
      color: $gray;
    }
    &--lg {
      font-size: 48px;
      .is-dark & {
        color: $white;
      }
      @include media-breakpoint-down(mobile) {
        font-size: 38px;
      }
    }
  }
  &__item {
    // margin: 50px;
    width: 18.6%;
    @include media-breakpoint-down(tablet) {
      width: calc(50% - 30px);
    }
    .about-section & {
      margin-top: 0;
    }
    &:nth-child(2) {
      margin-left: 53px;
      @include media-breakpoint-down(mobile) {
        margin-left: 35px;
      }
      .company-info__points & {
        margin-left: 100px;
        @include media-breakpoint-down(tablet) {
          margin-left: 30px;
        }
        @include media-breakpoint-down(mobile) {
          margin-left: 42px;
        }
      }
    }
    &:nth-child(3) {
      margin-left: 25px;
      @include media-breakpoint-down(tablet) {
        margin-left: 0px;
        margin-top: 30px;
      }
      .company-info__points & {
        margin-left: 100px;
        @include media-breakpoint-down(tablet) {
          margin-left: 0px;
          margin-top: 30px;
        }
      }
    }
    &:nth-child(4) {
      @include media-breakpoint-down(tablet) {
        margin-left: 50px;
        margin-top: 30px;
      }
      @include media-breakpoint-down(mobile) {
        margin-left: 35px;
      }
      .company-info__points & {
        margin-left: 30px;
        // margin-top: 30px;
        @include media-breakpoint-down(mobile) {
          margin-left: 43px;
        }

      }

    }

  }
  &--corp-portals {
    padding-top: 50px;
    padding-bottom: 70px;
    @include media-breakpoint-down(tablet) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    & .culture-info {
      &__wrapper {
        max-width: 850px;
        width: 100%;
      }
      &__title {
        margin-bottom: 50px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        line-height: 36px;
        @include media-breakpoint-down(mobile) {
          font-size: 18px;
          line-height: 30px;
        }
      }
      &__item {
        @include media-breakpoint-up(desktop) {
          width: auto;
          max-width: 200px;
        }
        &:not(:first-child) {
          @include media-breakpoint-up(desktop) {
            margin-left: 100px;
          }
        }
      }
      &__text {
        &:last-child {
          line-height: 25px;
        }
        &--year {
          display: inline-flex;
          font-size: 38px;
        }
      }
    }
  }
}

.culture-picture {
  padding-top: 41%;
  @include media-breakpoint-down(mobile) {
    height: 300px;
  }
}

.culture-video {
  max-width: 850px;
  width: 100%;
  display: block;
  position: relative;
  margin: 35px 0 0;
  &::after {
    content: '';
    display: block;
    padding-top: 480 / 850 * 100%;
  }
  iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
#corporate-culture{
  position: relative;
  bottom: 43px;
}