.reviews{
  padding-top: 66px;
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 0;
  }

  &__inner{
    width: 100%;
    margin-top: 50px;
    position: relative;
    user-select: none;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
      padding-bottom: 27px;
    }
    

    .swiper-container{
      overflow: hidden;
      padding-bottom: 42px;
    }
  
    .swiper-button-next,
    .swiper-button-prev{
      display: block;
      border:none;
      width: 24px;
      height: 24px;
      font-size: 0;
      position: absolute;
      left: auto;
      right: -34px;
      top: calc(50% - 12px);
      background-color: transparent;
      cursor: pointer;

      @media screen and (max-width: 767px) {
        display: none;
      }
  
      &:after{
        content: '';
        display: block;
        position: absolute;
  
        top: 6px;
        left: 4px;
        width: 11px;
        height: 11px;
  
        border-top:2px solid #909090;
        border-right:2px solid #909090;
        transform: rotate(45deg);
        border-radius: 1px;
      }
  
    }
  
    .swiper-button-prev{
      left: -34px;
      right: auto;
      transform: rotate(-180deg);
    }
  
    .swiper-button-disabled{
      display: none;
    }
  
    .swiper-pagination{
      position: absolute;
      bottom: 2px;
      left: 50%;

      @media screen and (max-width: 767px) {
        bottom: 15px;
      }
    }
  
    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      background: rgba(0, 0, 0, 0.2);
      opacity: 1;
      margin: 0 4px;
      // display: none!important;
    }

    .swiper-pagination-bullet-active {
      background-color: #eb5757;
    }
  
    .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullet-active-next{
      transform: scale(0.6);
    }
  
    .swiper-pagination-bullet-active-prev-prev,
    .swiper-pagination-bullet-active-next-next{
      transform: scale(0.4);
    }
  }

  &-popup{
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // height: 100vh;
    background-color: #fff;
    z-index: 9999999;


    &__text-wrapper{
      height: -webkit-fill-available;
      height: 100%;
    }

    &__text-inner{
      padding-top: 282px;
      padding-bottom: 120px;
      

      @media screen and (max-width: 767px) {
        padding-top: 180px;
        padding-bottom: 70px;
      }

      @media screen and (max-width: 813px) and (orientation: landscape) {
        padding-top: 149px;
        padding-bottom: 40px;
      }
    }

    &__slider{
      height: 100%;
      // max-width: 560px;
      position: relative;
      margin:0 auto;
    }

    .swiper-container{
      height: 100%;
      overflow: hidden;
      // max-width: 560px;
    }

    .swiper-wrapper{
      .ps__rail-y {
        width: 5px!important;
        border-radius: 6px;
        height: 100vh!important;
        top: 0!important;
        right: 0!important;
        // opacity: 1!important;
     }
     .ps__thumb-y {
        right: 0 !important;
        width: 5px!important;
        border-radius: 6px;
     }
    }
  
    .swiper-button-next,
    .swiper-button-prev{
      top: 282px;
      display: block;
      border:none;
      width: 100px;
      height:100vh;
      font-size: 0;
      position: absolute;
      left: auto;
      right:calc(50% - 400px);
      background-color: transparent;
      cursor: pointer;
      z-index: 10;

      @media screen and (max-width: 767px) {
        height: 100%;
        width: 40px;
        right: 0;
        top: 180px;
      }
      @media screen and (max-width: 813px) and (orientation: portrait) {
        right: 5px;
      }
      @media screen and (max-width: 813px) and (orientation: landscape) {
        height: 100%;
        width: 40px;
        right: 5px;
        top: 150px;
      }

  
      &:after{
        content: '';
        display: block;
        position: absolute;
  
        top: calc(50% - 273px);
        right: 12px;
        width: 9px;
        height: 9px;
  
        border-top:1.5px solid #909090;
        border-right:1.5px solid #909090;
        transform: rotate(45deg);

        @media screen and (max-width: 767px) {
          top: calc(50% - 175px);

        }

        @media screen and (max-width: 813px) and (orientation: landscape) {
          top: calc(50% - 130px);

        }
      }
  
    }
  
    .swiper-button-prev{
      right: auto;
      left: calc(50% - 400px);
      transform: rotate(-180deg);
      @media screen and (max-width: 813px) and (orientation: landscape)  {
        left: 5px;
      }
      @media screen and (max-width: 813px) and (orientation: portrait) {
        left: 10px;
      }

      &:after{
        top: calc(50% + 265px);
        @media screen and (max-width: 767px) {
          top: calc(50% + 167px);

        }

        @media screen and (max-width: 813px) and (orientation: landscape) {
          top: calc(50% + 121px);

        }
      }
    }
  
    .swiper-button-disabled{
      display: none;
    }
  
    .swiper-pagination{
      position: absolute;
      bottom: 60px;
      left: 50%;
      
      @media screen and (max-width: 767px) {
        bottom: 33px;
      }

      @media screen and (max-width: 813px) and (orientation: landscape) {
        bottom: 14px;
      }
    }
  
    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      background: rgba(0, 0, 0, 0.2);
      opacity: 1;
      margin: 0 4px;
    }

    .swiper-pagination-bullet-active {
      background-color: #eb5757;
    }
  
    .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullet-active-next {
      transform: scale(0.6);
    }
  
    .swiper-pagination-bullet-active-prev-prev,
    .swiper-pagination-bullet-active-next-next {
      transform: scale(0.4);
    }

    &.is-show{
      display: block;
    }

    .swiper-slide{
      display: flex;
      width: 100vw;
      height: 100%;
    }
    
    &__inner{
      width: 100vw;
      height: 100%;
      // max-width: 560px;
      justify-content: center;
      // margin:0 auto;
      display: flex;
      // flex-wrap: wrap;

      // position: relative;
      overflow: hidden;
      flex-direction: column;
      
      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 5px;
        height: 120px;
        background-color: #fff;
        z-index: 1;

        

        @media screen and (max-width: 767px) {
          height: 70px;
        }

        @media screen and (max-width: 813px) and (orientation: landscape) {
          height: 40px;
        }

      }
    }

    &__info{
      position: absolute;
      padding-top: 122px;
      top: 0;
      // height: 282px;
      left: 50%;
      width: 100%;
      max-width:560px;
      transform: translateX(-50%);
      background-color: #fff;
      z-index: 1;

      @media screen and (max-width: 767px) {
        padding-top: 30px;
        max-width: none;
        width: auto;
        right: 40px;
        left: 40px;
        transform: none;
      }

      @media screen and (max-width: 813px) and (orientation: landscape) {
        padding-top: 30px;
        max-width: none;
        width: auto;
        right: 40px;
        left: 40px;
        transform: none;
      }

      @media screen and (max-width: 813px) and (orientation: landscape) {
        padding-top: 20px;
      }
    }

    &__btn-close{
      position: absolute;
      top: 130.25px;
      right: 0;
      
      width: 30px;
      height: 30px;

      cursor: pointer;

      @media screen and (max-width: 767px) {
        top:31px;
        right: -4px;
      }

      @media screen and (max-width: 813px) and (orientation: landscape) {
        top: 21px;
      }

      &:after,
      &:before{
        position: absolute;
        top: calc(50% - 1.5px);
        left: 0;

        content: '';
        display: block;
        width: 100%;
        height: 3px;

        background-color: #222222;
        border-radius:3px;
      }

      &:before{
        transform: rotate(45deg);
      }

      &:after{
        transform: rotate(-45deg) scale(-1,1);
      }
    }

    &__logo-wrapper{
      margin-top: 10px;
      min-width: 119px;
      flex-shrink: 0;

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }

    &__company-logo{
      flex-shrink:0;
      display: block;
      max-width: 200px;
      max-height: 100%;
    }
    &__company-wrap {
      height: 38px;
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      @media screen and (max-width: 813px) and (orientation: landscape) {
        margin-bottom: 15px;
      }
    }

    &__name{
      flex-shrink:0;
      display: block;
      width: 100%;
      font-family: Oswald;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      color: #303030;
      margin-bottom: 10px;
    }

    &__position-wrapper{
      flex-shrink:0;
      // display: flex;
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #909090;

      margin-bottom: 30px;

      @media screen and (max-width: 813px) and (orientation: landscape) {
        margin-bottom: 15px;
      }
    }

    &__position{
      flex-shrink:0;
      display: inline;
      margin-right: 4px;
    }

    &__company{
      flex-shrink:0;
      display: inline-block;
      color: #EB5757;
    }

    &__text-wrapper{
      position: relative;
      flex-shrink:1;
      display: flex;
      background-color: #fff;
      

      &:after,
      &:before{
        position: absolute;
        content: '';
        display: block;
        // top: 272px;
        left: 0;
        width: calc(100% - 5px);
        height: 5%;
        background: linear-gradient(180deg , rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(255,255,255,0) 100%);
        opacity: 1;
        z-index: 1;
        transition:opacity .3s ease;
        top: inherit;

        @media screen and (max-width: 767px) {
          // top: 180px;
        }

        @media screen and (max-width: 813px) and (orientation: landscape) {
          // top: 149px;
        }
      }

      &:before{
        top: auto;
        bottom: 119px;
        background: linear-gradient(360deg , rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(255,255,255,0) 100%);

        @media screen and (max-width: 767px) {
          bottom: 70px;
        }

        @media screen and (max-width: 813px) and (orientation: landscape) {
          bottom: 40px;
        }
      }

      &.is-top{
        &:after{
          opacity: 0;
        }
      }

      &.is-bottom{
        &:before{
          opacity: 0;
        }
      }
    }

    &__text{
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      color: #303030;
      
      overflow: auto;
      
      height: 100%;
      
      width: 100vw;

      span{
        display: block;
        margin:0 auto;
        max-width: 560px;
        margin-bottom: 30px;

        &:last-child{
          margin-bottom: 0;
        }

        @media screen and (max-width: 767px) {
          max-width: 100%;
          margin:auto;
          margin-bottom: 30px;

          &:last-child{
            margin-bottom: 0;
          }
        }

        @media screen and (max-width: 813px) and (orientation: landscape) {
          max-width: 100%;
          margin:auto;
          margin-bottom: 30px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      @media screen and (max-width: 767px) {
        padding: 0 40px;
      }

      @media screen and (max-width: 813px) and (orientation: landscape) {
        padding: 0 40px;
      }
    }

    
  }

  .swiper-container{
    display: flex;
  }

  &-slider{
    

    .swiper-wrapper{
      display: flex;
    }

    width: 100%;
    // display: flex;
    height: auto;
    &__item{
      display: block;
      max-width: 660px;
      position: relative;
      background-color: #fafafa;
      padding: 50px;
      padding-bottom: 99px;

      @media screen and (max-width: 1079px) {
        max-width: 100%;
        max-height: auto;
        padding: 30px 20px;
        padding-top: 32px;
        padding-bottom: 79px;
      }
    }

    &__company-wrapper{
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1079px) {
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    &__company-info{
      display: inline-block;
      @media screen and (max-width: 1079px) {
        display: block;
        width: 100%;
        order:1;
      }
    }

    &__name{
      font-family: Oswald;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      color: #303030;
      margin-bottom: 10px;
    }

    &__position-wrapper{
      display: inline-block;
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #909090;

      margin-bottom: 30px;

      @media screen and (max-width: 1079px) {
        margin-bottom: 0;
      }

      @include media-breakpoint-down(tabletlg) {
        margin-bottom: 30px;
      }
    }

    &__position{
      display: inline;
      margin-right: 4px;
    }

    &__company{
      display: inline-block;
      color: #EB5757;
    }

    &__company-logo{
      max-width: 200px;
      max-height: 40px;
      margin-bottom: 15px;

      @media screen and (max-width: 1079px) {
        margin-bottom: 29px;
      }
    }

    &__text{

      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 33px;
      color: #303030;
      
      text-overflow: ellipsis;
    }

    &__more-info{
      position: absolute;
      bottom: 50px;
      left: 50px;
      display: flex;

      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #303030;
      
      cursor: pointer;

      @media screen and (max-width: 1079px) {
        left: 20px;
        bottom: 33px;
      }
    }

    &__arrow{
      top: 50%;
      transform: translateY(50%);
      margin-left: 10px;
      max-width: 16px;
      max-height: 9px;
      svg{
        width: 16px;
        height: 9px;
      }
      
    }
  }
}

.is-dark{
  .reviews{

    &__inner{
      .swiper-pagination-bullet{
        background: rgba(255, 255, 255, 0.2);
      }
      .swiper-pagination-bullet-active {
        background-color: #eb5757;
      }
    }
    
  }

  .reviews-slider{
    &__item{
      background-color: #303030;
    }

    &__name{
      color:#FAFAFA;
    }

    &__text{
      color:#FAFAFA;
    }

    &__more-info{
      color:#FAFAFA;
    }

    &__arrow{
      svg{
        fill:#fafafa;
      }
      
    }
  }

  .reviews-popup{
    background-color: #303030;

    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      background: rgba(255, 255, 255, 0.2);
      opacity: 0;
      margin: 0 4px;
    }
  
    .swiper-pagination-bullet-active-main{
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #EB5757;
    }
  
    .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullet-active-next{
      transform: scale(0.66);
      opacity: 1;
    }
  
    .swiper-pagination-bullet-active-prev-prev,
    .swiper-pagination-bullet-active-next-next{
      transform: scale(0.33);
      opacity: 1;
    }
    
    &__inner{ 
      &:after{
        background-color: #303030;
      }
    }

    &__info{
      background-color: rgba(48, 48, 48, 1);
    }

    &__btn-close{

      &:after,
      &:before{
        position: absolute;
        top: calc(50% - 1.5px);
        left: 0;

        content: '';
        display: block;
        width: 100%;
        height: 3px;

        background-color: #fafafa;
        border-radius:3px;
      }

      &:before{
        transform: rotate(45deg);
      }

      &:after{
        transform: rotate(-45deg);
      }
    }


    &__name{
      color: #fafafa;
    }

    &__position-wrapper{
      color: #909090;
    }

    &__company{
      color: #EB5757;
    }

    &__text-wrapper{
      background-color: rgba(48, 48, 48, 1);
      

      &:after,
      &:before{
        background: linear-gradient(180deg , rgba(48, 48, 48, 1) 0%, rgba(48, 48, 48, 1) 17%, rgba(48, 48, 48, 0) 100%);

      }

      &:before{
        background: linear-gradient(360deg , rgba(48, 48, 48, 1) 0%, rgba(48, 48, 48, 1) 17%, rgba(48, 48, 48, 0) 100%);
      }
    }

    &__text{
      color:#909090;;
    }

    
  }
}