.page-section.reviews
  .container
    h2.title.section-title Отзывы
    .reviews__inner
      .swiper-container.js-reviews-slider
        .reviews-slider.swiper-wrapper

          .reviews-slider__item.swiper-slide(data-id="0")
            .reviews-slider__company-wrapper
              .reviews-slider__company-info 
                .reviews-slider__name
                  span Евгений Сахаров 0
                .reviews-slider__position-wrapper
                  .reviews-slider__position
                    span СТО
                  a(href="#").reviews-slider__company
                    span Сантехника-Онлайн
              .reviews-popup__logo-wrapper
                img.reviews-slider__company-logo(src="assets/images/content/partners/logo-san-teh.png")

            .reviews-slider__text
              span Hawking Bros, благодаря быстрому подключению дополнительных специалистов, всего лишь за месяц увеличила объем вырабатываемых часов в 2 раза.
            .reviews-slider__more-info.js-show-popup-reviews
              span Читать отзыв
              span.reviews-slider__arrow
                +svg('arrow-right')

          .reviews-slider__item.swiper-slide(data-id="1")
            .reviews-slider__company-wrapper
              .reviews-slider__company-info 
                .reviews-slider__name
                  span Юлия Локшина 1
                .reviews-slider__position-wrapper
                  .reviews-slider__position
                    span PR-менеджер
                  a(href="#").reviews-slider__company
                    span Ales Capital 
              .reviews-popup__logo-wrapper
                img.reviews-slider__company-logo(src="assets/images/content/partners/logo-ales.png")

            .reviews-slider__text
              span Работа над проектом шла быстро, все правки и пожелания ребята учитывали и быстро вносили. 
              br
              |Скорость — это сильная сторона команды.
            .reviews-slider__more-info.js-show-popup-reviews
              span Читать отзыв
              span.reviews-slider__arrow
                +svg('arrow-right')

          .reviews-slider__item.swiper-slide(data-id="2")
            .reviews-slider__company-wrapper
              .reviews-slider__company-info 
                .reviews-slider__name
                  span Евгений Сахаров 2
                .reviews-slider__position-wrapper
                  .reviews-slider__position
                    span СТО
                  a(href="#").reviews-slider__company
                    span Сантехника-Онлайн
              .reviews-popup__logo-wrapper
                img.reviews-slider__company-logo(src="assets/images/content/partners/logo-san-teh.png")
            .reviews-slider__text
              span Hawking Bros, благодаря быстрому подключению дополнительных специалистов, всего лишь за месяц увеличила объем вырабатываемых часов в 2 раза. 
            .reviews-slider__more-info.js-show-popup-reviews
              span Читать отзыв
              span.reviews-slider__arrow
                +svg('arrow-right')

          .reviews-slider__item.swiper-slide(data-id="3")
            .reviews-slider__company-wrapper
              .reviews-slider__company-info 
                .reviews-slider__name
                  span Юлия Локшина 3
                .reviews-slider__position-wrapper
                  .reviews-slider__position
                    span PR-менеджер
                  a(href="#").reviews-slider__company
                    span Ales Capital
              .reviews-popup__logo-wrapper
                img.reviews-slider__company-logo(src="assets/images/content/partners/logo-ales.png")
            .reviews-slider__text
              span Работа над проектом шла быстро, все правки и пожелания ребята учитывали и быстро вносили. 
              br
              |Скорость — это сильная сторона команды.
            .reviews-slider__more-info.js-show-popup-reviews
              span Читать отзыв
              span.reviews-slider__arrow
                +svg('arrow-right')

          .reviews-slider__item.swiper-slide(data-id="4")
            .reviews-slider__company-wrapper
              .reviews-slider__company-info 
                .reviews-slider__name
                  span Юлия Локшина 4
                .reviews-slider__position-wrapper
                  .reviews-slider__position
                    span СТО
                  a(href="#").reviews-slider__company
                    span Сантехника-Онлайн
              .reviews-popup__logo-wrapper
                img.reviews-slider__company-logo(src="assets/images/content/partners/logo-san-teh.png")
            .reviews-slider__text
              span Hawking Bros, благодаря быстрому подключению дополнительных специалистов, всего лишь за месяц увеличила объем вырабатываемых часов в 2 раза. 
            .reviews-slider__more-info.js-show-popup-reviews
              span Читать отзыв
              span.reviews-slider__arrow
                +svg('arrow-right')

          .reviews-slider__item.swiper-slide(data-id="5")
            .reviews-slider__company-wrapper
              .reviews-slider__company-info 
                .reviews-slider__name
                  span Юлия Локшина 5
                .reviews-slider__position-wrapper
                  .reviews-slider__position
                    span PR-менеджер
                  a(href="#").reviews-slider__company
                    span Ales Capital
              .reviews-popup__logo-wrapper
                img.reviews-slider__company-logo(src="assets/images/content/partners/logo-ales.png")
            .reviews-slider__text
              span Работа над проектом шла быстро, все правки и пожелания ребята учитывали и быстро вносили. 
              br
              |Скорость — это сильная сторона команды.
            .reviews-slider__more-info.js-show-popup-reviews
              span Читать отзыв
              span.reviews-slider__arrow
                +svg('arrow-right')

          .reviews-slider__item.swiper-slide(data-id="6")
            .reviews-slider__company-wrapper
              .reviews-slider__company-info 
                .reviews-slider__name
                  span Евгений Сахаров 6
                .reviews-slider__position-wrapper
                  .reviews-slider__position
                    span СТО
                  a(href="#").reviews-slider__company
                    span Сантехника-Онлайн
              .reviews-popup__logo-wrapper
                img.reviews-slider__company-logo(src="assets/images/content/partners/logo-san-teh.png")
            .reviews-slider__text
              span Hawking Bros, благодаря быстрому подключению дополнительных специалистов, всего лишь за месяц увеличила объем вырабатываемых часов в 2 раза. 
            .reviews-slider__more-info.js-show-popup-reviews
              span Читать отзыв
              span.reviews-slider__arrow
                +svg('arrow-right')

          .reviews-slider__item.swiper-slide(data-id="7")
            .reviews-slider__company-wrapper
              .reviews-slider__company-info 
                .reviews-slider__name
                  span Юлия Локшина 7
                .reviews-slider__position-wrapper
                  .reviews-slider__position
                    span PR-менеджер
                  a(href="#").reviews-slider__company
                    span Ales Capital
              .reviews-popup__logo-wrapper
                img.reviews-slider__company-logo(src="assets/images/content/partners/logo-ales.png")
            .reviews-slider__text
              span Работа над проектом шла быстро, все правки и пожелания ребята учитывали и быстро вносили. 
              br
              |Скорость — это сильная сторона команды.
            .reviews-slider__more-info.js-show-popup-reviews
              span Читать отзыв
              span.reviews-slider__arrow
                +svg('arrow-right')
        .swiper-pagination

      .swiper-button-next
      .swiper-button-prev

      

.reviews-popup
  .reviews-popup__slider
    .swiper-container.js-reviews-popup-slider 
      .swiper-wrapper
        .reviews-popup__inner.swiper-slide(data-id="0")
          .reviews-popup__info
            .reviews-popup__btn-close.js-hide-popup-reviews
            img.reviews-popup__company-logo(src="assets/images/content/partners/logo-san-teh.png")
            .reviews-popup__name
              span Евгений Сахаров 0
            .reviews-popup__position-wrapper
              .reviews-popup__position
                span СТО
              a(href="#").reviews-popup__company
                span Сантехника-Онлайн

          .reviews-popup__gradient
          
          .reviews-popup__text-wrapper.is-top
            .reviews-popup__text
              .reviews-popup__text-inner
                span sam Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?adipisicing elit. Minima deserunt maxime autem est expedita. 1111111

        .reviews-popup__inner.swiper-slide(data-id="1")
          .reviews-popup__info
            .reviews-popup__btn-close.js-hide-popup-reviews
            img.reviews-popup__company-logo(src="assets/images/content/partners/logo-ales.png")
            .reviews-popup__name
              span Юлия Лошкина 1
            .reviews-popup__position-wrapper
              .reviews-popup__position
                span PR-менеджер
              a(href="#").reviews-popup__company
                span Ales Capital

          .reviews-popup__gradient
          
          .reviews-popup__text-wrapper.is-top
            
            .reviews-popup__text
              .reviews-popup__text-inner
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. 
                span Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae 
                span laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                span Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?

        .reviews-popup__inner.swiper-slide(data-id="2")
          .reviews-popup__info
            .reviews-popup__btn-close.js-hide-popup-reviews
            img.reviews-popup__company-logo(src="assets/images/content/partners/logo-san-teh.png")
            .reviews-popup__name
              span Евгений Сахаров 2
            .reviews-popup__position-wrapper
              .reviews-popup__position
                span СТО
              a(href="#").reviews-popup__company
                span Сантехника-Онлайн

          .reviews-popup__gradient
          
          .reviews-popup__text-wrapper.is-top
            .reviews-popup__text
              .reviews-popup__text-inner 
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?

        .reviews-popup__inner.swiper-slide(data-id="3")
          .reviews-popup__info
            .reviews-popup__btn-close.js-hide-popup-reviews
            img.reviews-popup__company-logo(src="assets/images/content/partners/logo-ales.png")
            .reviews-popup__name
              span Юлия Лошкина 3
            .reviews-popup__position-wrapper
              .reviews-popup__position
                span PR-менеджер
              a(href="#").reviews-popup__company
                span Ales Capital

          .reviews-popup__gradient
          
          .reviews-popup__text-wrapper.is-top
            .reviews-popup__text
              .reviews-popup__text-inner 
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis 
                span voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis 
                span voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?

        .reviews-popup__inner.swiper-slide(data-id="4")
          .reviews-popup__info
            .reviews-popup__btn-close.js-hide-popup-reviews
            img.reviews-popup__company-logo(src="assets/images/content/partners/logo-san-teh.png")
            .reviews-popup__name
              span Евгений Сахаров 4
            .reviews-popup__position-wrapper
              .reviews-popup__position
                span СТО
              a(href="#").reviews-popup__company
                span Сантехника-Онлайн

          .reviews-popup__gradient
          
          .reviews-popup__text-wrapper.is-top
            .reviews-popup__text 
              .reviews-popup__text-inner
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?

        .reviews-popup__inner.swiper-slide(data-id="5")
          .reviews-popup__info
            .reviews-popup__btn-close.js-hide-popup-reviews
            img.reviews-popup__company-logo(src="assets/images/content/partners/logo-ales.png")
            .reviews-popup__name
              span Юлия Лошкина 5
            .reviews-popup__position-wrapper
              .reviews-popup__position
                span PR-менеджер
              a(href="#").reviews-popup__company
                span Ales Capital

          .reviews-popup__gradient
          
          .reviews-popup__text-wrapper.is-top
            .reviews-popup__text
              .reviews-popup__text-inner
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                span Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                span Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                span Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?
    
        .reviews-popup__inner.swiper-slide(data-id="6")
          .reviews-popup__info
            .reviews-popup__btn-close.js-hide-popup-reviews
            img.reviews-popup__company-logo(src="assets/images/content/partners/logo-san-teh.png")
            .reviews-popup__name
              span Евгений Сахаров 6
            .reviews-popup__position-wrapper
              .reviews-popup__position
                span СТО
              a(href="#").reviews-popup__company
                span Сантехника-Онлайн

          .reviews-popup__gradient
          
          .reviews-popup__text-wrapper.is-top
            .reviews-popup__text
              .reviews-popup__text-inner
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?

        .reviews-popup__inner.swiper-slide(data-id="7")
          .reviews-popup__info
            .reviews-popup__btn-close.js-hide-popup-reviews
            img.reviews-popup__company-logo(src="assets/images/content/partners/logo-ales.png")
            .reviews-popup__name
              span Юлия Лошкина 7
            .reviews-popup__position-wrapper
              .reviews-popup__position
                span PR-менеджер
              a(href="#").reviews-popup__company
                span Ales Capital

          .reviews-popup__gradient
          
          .reviews-popup__text-wrapper.is-top
            .reviews-popup__text
              .reviews-popup__text-inner
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus!lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint magni nemo rem earum dignissimos accusantium modi asperiores, suscipit natus corrupti esse eos illo dolor reiciendis, molestiae illum?
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt maxime autem est expedita. Eius quibusdam quae labore ut consequuntur odit. Ab recusandae laudantium, blanditiis consequatur ipsum hic omnis voluptatibus! 123
                
      .swiper-pagination
    .swiper-button-next
    .swiper-button-prev

      